[2015-11-03 23:36] sicking opened #1 "Why not use the Safari API?"
It's not a very clean API, but i'm not sure that it's worth trying to deprecate existing content in order to get a cleaned up API. Previous similar attempts for other APIs have failed.

https://developer.apple.com/library/safari/releasenotes/General/WhatsNewInSafari/Articles/Safari_7_0.html#//apple_ref/doc/uid/TP40014305-CH5-SW7

[2015-11-03 23:46] mounirlamouri commented on #1
The Safari Airplay API isn't actually used that much on the Web. The most commonly used attributes are the ones that enable/disable the airplay button. Most websites actually "enable" it which is the default behaviour anyway.

I don't think it's worth having all browsers implement the API.

[2015-11-04 01:33] jernoble commented on #1
@sicking Are you referring to the <video> tag attributes, or the HTMLVideoElement properties/methods?  The former may not be used extensively (due to the reasons @mounirlamouri mentioned), but the latter are used by any site with custom controls w/ a custom AirPlay button.

[2015-11-04 03:01] sicking commented on #1
I was referring to both. I.e. the `x-webkit-wirelessvideoplaybackdisabled` markup attribute, the `wirelessvideoplaybackdisabled` DOM property (i'm not sure about the spelling) the `webkitplaybacktargetavailabilitychanged` event and the `webkitShowPlaybackTargetPicker()` DOM method.

[2015-11-04 11:41] mounirlamouri commented on #1
I am tracking a few metrics about the usage of the webkit prefixed API (using internal Google tools). The overview is:
- `webkitShowPlaybackTargetPicker()`, `webkitplaybacktargetavailabilitychanged` and `webkitCurrentPlaybackTarget` are virtually unused on the Web. There is at best two dozens websites using those.
- `x-webkit-airplay=deny` and `x-webkit-wirelessvideoplaybackdisabled` are used by t

[2015-11-04 16:41] jernoble commented on #1
@mounirlamouri

Google's spider and usage counters aren't browsing the web under a Mac or iOS Safari User Agent, so you're missing every site with UA-specific behavior. Including, for example, YouTube, DailyMotion, & Vimeo, among others, which I'm sure you'll agree is a large percentage of internet video.

So, I would argue that your "internal Google tools" are almost entirely useless for this pur

[2015-11-04 16:54] mounirlamouri commented on #1
Yes, I have no doubt that some websites have UA specific behaviour but it's not relevant to the discussion: for other browsers to have an interest in implementing proprietary APIs, a large chunk of the web needs to be using these APIs so that implementing them would enable new features on these websites. I don't think this is the case here.

[2015-11-04 17:01] jernoble commented on #1
It's unfortunate that so many video sites, including Google's, have decided to do UA sniffing rather than feature detection in this case. However, it would be much easier for sites to drop their UA sniffing behavior than for them to re-implement under an entirely new–and possibly incompatible–remote playback API.

[2015-11-04 20:18] sicking commented on #1
Right, that is my feeling too. The goal to me isn't to get a lot of websites to automatically start working. The goal is to get adoption of whatever we implement. The amount of work a website has to do definitely has a big effect on that.

That said, if the number of websites that use the safari API is really low, then I agree that that makes it less important to use the existing API.

[2016-01-14 17:30] avayvod opened #2 "RemotePlayback.state should have events corresponding to state changes"
E.g. `onconnected`, `ondisconnected`, etc.
Having an event handler makes sense so that the web developer doesn't have to poll the attribute.
Per-state events vs a single `onstatechange` mostly for consistency with the Presentation API.

[2016-01-14 17:40] avayvod opened #3 "Add "connecting" to the RemotePlaybackState enum"
Represents the state between the time when a remote playback device has been picked by the user and when the playback of the media is ready to start on the device.

The justifications:
- to be consistent with the sibling Presentation API
- the state allows the website to show some interstitial UI for the state transitioning between `disconnected` to `connected`

The draft summary of state changes:

[2016-01-14 17:41] avayvod commented on #2
`ondisconnected` should have a `reason` attribute to notify if there was an error of some sort or user action or is it due to the page calling something like `stop()` itself.

[2016-01-14 18:35] avayvod opened #4 "Allow websites to stop the remote playback"
Currently, the spec doesn't define how the remote playback is stopped. It could be some user agent provided UI that the user can trigger somehow or that can be shown when the page calls `start()` on the `remote` instance that's already in a `connected` state. However, it seems natural to allow the website to have a custom control on the media element that stops the remote playback.

[code]

[2016-01-15 16:21] avayvod opened #5 "Reconnecting media elements to the playback"
Tracking issue for the following problem:
- what happens when the page that is playing a media element remotely navigates / reloads?
- should it be able to reconnect somehow to the remote playback session?

Following the Presentation API experience, the page would get an id from the `start()` call / `onconnected` event and then pass it to another call like `join(playbackId)` to attach the media el

[2016-01-18 13:17] avayvod opened #6 "Define the UA behavior when the disableRemotePlayback attribute is added during the remote playback"
Currently the behavior when a page adds the `disableRemotePlayback` attribute to a media element that's being played remotely is undefined. Options are:
1. leave it undefined
2. define it so that the remote playback is stopped as soon as the attribute is added
3. define it so that the attribute makes an effect on all subsequent attempts to playback the media element but not the one currently takin

[2016-01-18 18:26] mounirlamouri commented on #6
I would be in favour of any of these options:
- `disableRemotePlayback` is used in the `play()` algorithm and any change after `play()` steps are ran is ignored.
- `disableRemotePlayback` is used like `playbackRate` or `src` and affects the playback (thus stops it if it is playing remotely).

@jernoble, do you have a preference? What would be the closest to Safari's behaviour?
@foolip, which solut

[2016-01-18 18:36] mounirlamouri commented on #5
I think we should stop the media on the remote device if the page is navigated. Otherwise, we are going to recreate a Presentation API.

@jernoble, WDYT? It seems that Safari iOS stops the session if the page is reloaded but kind of keep it alive if the page is navigated.

[2016-01-18 18:42] mounirlamouri commented on #2
Having a `statechange` event sgtm. Do we really need an event per state change? Presentation API has details for the `close` event but we don't have a close state here.

[2016-01-18 18:42] mounirlamouri commented on #2
/CC @jernoble

[2016-01-18 18:54] mounirlamouri commented on #3
/CC @jernoble @foolip

I'm all in favour of adding `connecting`. It is even a TODO in the current draft. I think we need to figure out the behaviour when `connecting` though. Throwing exceptions sounds a bit too strong but we could reject promises or create a new `error` state.

[2016-01-18 19:02] mounirlamouri commented on #4
/cc @jernoble

I wonder if that would be compatible with the iOS routing system where Safari uses the system default route in which case, there is no such thing as `stop()`. Would something like `reset()` be more generic?

[2016-01-19 18:30] jernoble commented on #5
@mounirlamouri I think that would be best (if we stopped the session if the page was navigated).

[2016-01-26 03:50] foolip commented on #6
I think that looking at `disableRemotePlayback` only in `play()` (or potentially other points) and ignoring anything that happens after that sounds good. This would be consistent with the `allowfullscreen` attribute on iframes, which is checked when the iframe's browsing context is created, setting a flag, and removing the attribute after that point has no effect. (Blink/WebKit actually checks the

[2016-01-26 03:54] foolip commented on #3
Adding this sounds good, but I agree that throwing exceptions sounds weird. Can't the handover be atomic, so that all commands are applied either locally or sent to the remote?

Also, is "once start() is resolved, the state changes to `connecting`" correct? Shouldn't the state be `connecting` _until_ start() is resolved, and `connected` once resolved? Make sure to define the precise timing of when

[2016-01-26 10:43] mounirlamouri commented on #3
I think we could rename `start()` to `connect()` and resolve the promise as soon as there is a device to connect to. When the promise is resolved, the state moves from `disconnected` to `connecting` then from `connecting` to `connected`. The benefit for the page is that they know that when `connect()` resolves, they can show some spinner UI waiting for the connection to happen (ie. `connecting` st

[2016-01-27 04:52] foolip commented on #3
Should the spec enforce that local playback stops while `connecting`? That's a common behavior, but should it not be possible to continue local playback until `connected`, then pause local playback and start remote playback? (If one waits for the local pause to finish, there could be no overlap in time, which could be a concern.)

[2016-01-27 14:21] mounirlamouri commented on #3
I guess what we do while `connecting` is going to be tightly related to what we do with regards to media commands while `connecting`. We need to offer a good developer experience. I would suggest the following:
- While the remote state is `disconnected` or `connecting`, the media commands (ie. `play()`, `pause()`, etc.) go to the local playback.
- When the state is `connected`, the media commands

[2016-01-28 03:34] foolip commented on #3
If "allowed to pause" means that the web developer can implement that behavior but could also continue to play back locally for a bit longer, then that SGTM.

I realize that an issue with the handover is that if you continue playing locally as the remote buffers while `connecting`, then it's not really possible to guarantee that the local `currentTime` will be close to the remote `currentTime` onc

[2016-01-28 11:39] avayvod opened #7 "Allow the user agent to choose which media element source to play remotely"
Since the media element can have more than one source, the UA should be able to remote what it thinks is the best for the selected remote device.

Also maybe allow the website to specify the preferred source for remote playback (e.g. on mobile the element may have the default local playback source in SD quality while a link to an HD media could be provided for remote playback specifically).

The w

[2016-02-03 16:23] avayvod commented on #5
FWIW, both Chrome and Firefox don't stop the playback in these cases so may be we could be more flexible and say that the UA can continue playing the video remotely and provide user with some browser controls?

For Chrome, we're going to gather some data on the usage and see if it's useful but continuous playback no matter what as long as there's a way to stop it is preferred by the Chromecast gui

[2016-02-04 20:07] avayvod commented on #5
@jernoble would you be okay with the proposal above?

[2016-02-04 21:12] jernoble commented on #5
@avayvod Because it may not be a choice that the UA makes (the remote end may choose to end or continue playback when the UA disconnects without input from the UA) I'd be happy if there was some explicit flexibility in the spec w.r.t. the behavior when the page closes or is navigated.

[2016-03-08 16:09] foolip opened #10 "Define the interaction with Media Session"
See https://github.com/whatwg/mediasession/issues/123

This issue is filed so that everyone interested in the Remote Playback API is aware of the issue. It's not yet entirely clear which spec will have to make adaptions, once that is clear one of the issues can be closed.

[2016-03-23 10:35] avayvod opened #11 "Add onstatechange event complementing HTMLMediaElement.remote.state property"
The page might want to know when the remote state changes to show different UI or change the source appropriately.

[2016-03-23 12:13] avayvod commented on #11
Actually this repeats the issue #2

[2016-03-23 12:13] #11 closed, assigned to nobody

[2016-04-04 13:05] anssiko opened #12 "[meta] Publish First Public Working Draft"
This is a meta issue to keep us aware of the fact that we should attempt to publish a [First Public Working Draft](https://www.w3.org/2015/Process-20150901/#first-wd) (FPWD) of the spec in the near future. FPWD is the first step in the formal Recommendation Track.

To be FPWD ready, we should add some prose to complement the IDL (basically, formalise the draft summaries a bit, no need to be perfec

[2016-04-08 09:29] mounirlamouri opened #13 "Allow implementations to drop some requests if they can't be remotely played"
We need implementations to be able to tell the page that something can't be played remotely because it is not supported by the other end. It can be because of EME, because of audio/video codecs or maybe because of MSE.

I did not think yet of the mechanism but I think having `connect()` reject with some error (like `NotSupported`) could be the right approach.

[2016-05-03 18:55] avayvod commented on #1
As I understand it, the resolution is that there are advantages to implementing an unprefixed API with a specification over implementing the existing prefixed Safari API: the existing adoption is not high enough to justify the latter for other browser vendors and the sites behavior will likely be improved with the adoption of the Remote Playback API. Feel free to reopen the issue if it needs to be

[2016-05-03 18:55] #1 closed, assigned to nobody

[2016-05-03 19:14] avayvod commented on #5
As I understand it, the resolution is to allow some flexibility in the spec so that the remote playback session doesn't have to be stopped when the media element goes out of scope, however, having a way to reconnect to the running session is not desired at this point (we could revisit it later if there's developer's demand for this API vs Presentation API allowing reconnecting, for example).

[2016-05-10 20:41] avayvod commented on #13
I covered the case in the <code>connect()</code> algorithm: the promise is rejected with NotSupported when the media source is not supported by the user agent or is a priori not compatible with any supported remote playback device.

[2016-05-10 20:41] #13 closed, assigned to nobody

[2016-05-10 20:51] avayvod opened #25 "Specify the transition between the local and remote playback when changing remote.state"
A spin-off from the issue #3:
- when the <code>state</code> is "disconnected" or "connecting", all interaction with HTMLMediaElement is forwarded to/from the local player
- when the <code>state</code> is "connected", all interaction with HTMLMediaElement is forwarded to/from the remote player
- when the <code>state</code> changes from "connecting" to "connected", the last known state of the local

[2016-05-10 20:52] avayvod commented on #3
Opened #25 to track the transition specification. Closing this issue as the state is in the spec now.

[2016-05-10 20:52] #3 closed, assigned to nobody

[2016-05-10 20:55] avayvod commented on #12
@anssiko any particular label we should use? Would F2F suffice?

[2016-05-10 20:57] avayvod commented on #10
@foolip @mounirlamouri do you think this is a good candidate for the F2F in May given Philip will be attending remotely in the best case and I doubt most group participants are closely familiar with Media Session API and user agent's default behaviors. Brainstorming use cases and requirements might still be useful though?

[2016-05-10 20:58] avayvod commented on #2
The <code>statechange</code> event is present in the spec now. I agree we don't want more complex event structure for a simple API.

[2016-05-10 20:58] #2 closed, assigned to nobody

[2016-05-11 13:44] avayvod commented on #5
Added a note to the Stopping remote playback section of the spec.

[2016-05-12 18:08] avayvod commented on #6
I'm not sure, why `play()` should look at the attribute at all, it should be agnostic from the _Remote Playback API_ I think. If the element is in `connected` state, play is forwarded to the remote playback device, period.

How about the following (allowfullscreen-ish behavior):
- once the attribute is present:
  - any call to `getAvailability()` rejects with an error
  - any call to `connect()` r

[2016-05-13 13:01] mounirlamouri commented on #6
FWIW, I think the first behaviour makes sense and is simple.

[2016-05-16 11:54] anssiko commented on #12
@avayvod F2F label works fine. When we work through the issues at F2F, I'd prefer to give priority to issues that would benefit from the F2F discussion & decision the most.

We have the Tuesday morning reserved for the Remove Playback API, so I'm positive that by the time we break for lunch on that day we have a spec that is FPWD-ready and we can start publication preparations soon after.

[2016-05-20 13:56] mounirlamouri opened #34 "connect: NotFoundError and NotSupportedError inconsistencies"
Step 1 says that UA should reject with `NotSupportedError` if the UA knows the formats are not supported (so it doesn't event try to discover).

Step 8 says that the UA should reject with `NotFoundError` if no devices were found or all found devices are not compatible.

I wonder if we could do:
- `NotSupportedError` when no compatible devices
- `NotFoundError` when no devices

It would require to

[2016-05-20 13:57] mounirlamouri commented on #34
Step 1 should probably be marked as OPTIONAL:

[code]

[2016-05-20 14:00] mounirlamouri opened #35 "connect: step 3 should probably be a MAY"
Step 3 says that `OperationError` should be thrown when trying to connect while already trying to connect somewhere else. I assume the rationale is that UA might end up showing two prompts on top of each other. However, this is a pure UI consideration and it seems that making this not a requirement for proper implementation is important: there might be some type of UI design that would make things

[2016-05-20 14:00] mounirlamouri commented on #35
/CC @mfoltzgoogle in case of he has some more backgrounds regarding why the Presentation API has this behaviour.

[2016-05-20 18:33] markafoltz opened #36 "remote.onstatechange vs. remote.on{connect,connecting,disconnect}"
In the Presentation API, we converted the API from having one statechange event to distinct events for each state, to improve developer ergonomics: fewer if/then/else blocks in a monolithic event handler.

(I can't find the specific GH issue where this was discussed, since I think it was an offshoot of other API discussions. Can dig some more if interested.)

Perhaps the Remote Playback API should

[2016-05-20 18:36] markafoltz opened #37 "Check initial value of remote.state before starting "Initiate remote playback""
I think there's an assumption that remote.state must be `disconnected` upon starting the "Initiate remote playback" algorithm, but there's no explicit check for it in the steps.

[2016-05-20 18:40] markafoltz opened #38 "Define behavior when "Establishing a connection with a remote playback device" fails"
The algorithm defines the successful case but not the failure case; from the rest of the spec, it sounds like a `connecting` to `disconnected` state change + event should be fired at remote (versus `connected` for the successful outcome).

[2016-05-20 18:53] markafoltz opened #39 "Do we need remote.getAvailability()?"
I think the use of a separate Availability object for remote playback device for this use case causes some problems for the spec.
- What does it mean to call getAvailability() multiple times on the same MediaElement?  Is the same object returned or different object?
- If the source list changes, will the developer need to discard the old object and get a new one?
- What if the media element is det

[2016-05-20 19:02] markafoltz opened #40 "setupRemotePlayback() called twice in Example 2 and Example 3?"
It looks like `setupRemotePlayback()` is called twice when the user clicks remotePlaybackBtn, once in the resolver for `connect()` and again in the `onstatechange` event handler when the state transitions to `connecting`.

Also, you may want to disable remotePlaybackBtn when the state changes to `connecting`, and re-enable it on a transition to `disconnected`.  Maybe this would be done in the setu

[2016-05-20 19:15] markafoltz opened #41 "[Meta] Guidance for HTMLMediaElement, HTMLAudioElement, HTMLVideoElement behaviors during remoting"
In remoting mode (i.e. state == `connected`) any side effects on the media element, for example mutations to properties, invocations of methods, or detachment from the DOM may (or may not) affect remote playback.

Because the behavior of the remote playback device seems to be out of scope for this spec, there may not be much to say in the normative sections of the spec.

However, in my opinion it

[2016-05-20 19:15] markafoltz commented on #41
I tagged this [Meta] since other issues might be forked off from it.

[2016-05-23 21:53] hober commented on #4
There's no equivalent of `stop()` on iOS; we only have API to show the user the picker, and one of the options in the picker is to switch back to local playback.

[2016-05-23 22:11] jernoble commented on #6
Safari's current behavior for the equivalent feature is that the "x-webkit-wirelessvideoplaybackdisabled" attribute is "live"; setting it while a remote playback session is active will stop the session and return playback to the local device.

[2016-05-23 22:12] jernoble commented on #4
@hober, it occurs to me that, per issue #6, Safari effectively has an API for stop(), namely, the page can add a `x-webkit-wirelessvideoplaybackdisabled` attribute to the element to cause playback to return to the local device.

However, this is just a side effect, and we may not want to provide an explicit API to do this.

[2016-05-23 22:14] hober commented on #7
I think I'd prefer a design where the local UA hands the set of possible sources to the remote device, so it can make its own decision re: which to play.

[2016-05-23 22:20] jernoble commented on #25
Perhaps I'm misunderstanding, but ideally wouldn't the local- and remote-player states always be synchronized?  Wouldn't then the last rule be unnecessary?

[2016-05-23 22:21] hober commented on #36
SGTM.

[2016-05-23 22:27] jernoble commented on #39
@mfoltzgoogle said:

Since this is an object returned from a method (and not a property), it would be a different object for each
call.

No; the onchange event might fire though.

Since there's no way to get from a RemotePlaybackAvailability object to its associated media object, no, the availability object would not keep the element from being collected.

[2016-05-23 23:29] avayvod commented on #25
Yes, as long as we're talking about the media element and its state exposed to the webpage. I believe I meant the backend for the local playback under "local player" which could just be suspended until the remote playback is stopped and then synchronized with the remote playback state to continue from there.

[2016-05-24 10:47] avayvod commented on #41
@foolip FYI
One thing to note is we'd likely want the user agents to be consistent with the API behavior in the case of remote playback initiated by the user agent. That means that we should avoid breaking websites that are unaware of the Remote Playback API when the user agent initiates remote playback. For example, throwing exceptions or firing an error event for unsupported operations during re

[2016-05-24 11:05] avayvod commented on #39
I think the main problem with the property + event handler is the same as it was with the Presentation API - either the UA doesn't know when to monitor availability and has to do it all the time for every live (and visible) media element just to keep `availability` up-to-date or it has to add weird side effects of adding an event listener (if the availability is known to the user agent at the time

[2016-05-24 11:13] avayvod commented on #7
Yes, we should allow the remote playback device to take part. Some existing devices might not be able to accept multiple sources so I'd avoid excluding the local UA out of the process.

[2016-05-24 11:17] avayvod commented on #6
@jernoble would you say the second proposal from [my comment above](https://github.com/w3c/remote-playback/issues/6#issuecomment-218838955) better matches the current Safari's behavior then? Would the first proposal be good enough?

[2016-05-24 11:20] avayvod commented on #4
Hm, the `connect()` looks more along the lines of `selectPlaybackDevice()` to me then.

[2016-05-24 13:58] mounirlamouri commented on #39
As @avayvod pointed, we can't really have a simple attribute+event unless we add an `unknown` state but still, in that case, we would need the developer to be able to request availability check so we might need to add `startDiscovery` (and `stopDiscovery` ?) for websites that want to show a remote playback button.

Actually, a pattern that start emerging on the platform is to have an `observe()` m

[2016-05-24 14:53] avayvod commented on #10
Let's discuss the behavior w/r/t other tabs making sound before and after remote playback of the current tab and also how multiple remotely played media elements interact. Also reuse of metadata.
We can define the behavior that makes sense and then express it via MediaSession API later.

[2016-05-24 15:43] mounirlamouri commented on #4
It seems that a website might be interested to have a "remote" button for users to start remote playback and then have this button be used to disconnect. The same way, the fullscreen has an on and off switch.

What's the rationale to not expose a way to stop the remoting from script if we want adding `disableRemotePlayback` to the element to actually to exactly that?

[2016-05-24 16:06] jernoble commented on #4
@mounirlamouri

That would be a strange design pattern, as it would mean users would have to explicitly disable playback before picking a different remote device.  UAs would always provide a "stop" option in the device picker, so why would a site ever switch out the "choose a device" button with a "stop" button?

[2016-05-24 18:08] tidoust commented on #39
Discussed at F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item03

**ACTION:** Anton to craft a PR to use observe/unobserve pattern for availability

Open question still remains on whether to add a specific feature for devices that do not support background monitoring for web apps to tell the difference between "there are remote devices available" and "there may be remote devices avail

[2016-05-24 18:20] tidoust commented on #36
Discussed at F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item04

**PROPOSED RESOLUTION:** break up the statechange into 3 different events as described in https://github.com/w3c/remote-playback/issues/36#issue-156024443

[2016-05-24 18:21] tidoust commented on #4
Discussed at F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item05

**PROPOSED RESOLUTION:** For issue #4, no "stop" method, add guidance that UA should provide a way to disconnect, and rename "connect" method into something like "showDevicePicker"

[2016-05-24 18:23] tidoust commented on #6
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item06

**PROPOSED RESOLUTION:** Use Anton's first proposal (no spec language to address this case). Add a non-normative note that existence of attribute is a hint for discovery.
**PROPOSED RESOLUTION:** Refine behavior of existing alg's for attribute, i.e. Promise rejections would reference it.

[2016-05-24 18:34] tidoust commented on #7
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item07

**PROPOSED RESOLUTION:** Anton to update spec to be clear that entire source list is considered for availability (if possible) and remote playback

**ACTION:** Investigate HTML source selection algorithm to decide if it is applicable, possibly on @foolip

[2016-05-24 19:08] tidoust commented on #41
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item09

**PROPOSED RESOLUTION:** Extend the requirements doc as a start, best effort for UAs to reflect remote state locally otherwise.

[2016-05-24 19:23] tidoust commented on #10
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item10

**ACTION:** Mounir to update issue with comments about remote and local don't fight over output, and suggestion that remote playback can access keys. No spec changes at this juncture.

[2016-05-24 19:25] tidoust commented on #12
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item11

Goal is to collect edits from the F2F before publication.

**ACTION:** Anssi to send a CFC once edits are done
**ACTION:** Anton to collect edits and coordinate timing with Anssi

[2016-05-27 00:02] mounirlamouri commented on #10
François said it all, not much to add here. The conclusion from our discussion was that remote playback should not compete for audio focus with local playback. A remote playback should fight for audio focus on the device it is playing.

However, remote playback should compete for media keys on the local playback. That means that if there is a remote and local playback, one or the other might get m

[2016-05-27 00:05] mounirlamouri commented on #4
I suggest to name the method `showPrompt()` or `prompt()` so the content can be UA dependent.

The spec should recommend the UA to show a list of devices at least when not connected and propose a way to disconnect when connected.

[2016-05-27 00:46] markafoltz commented on #4
Threre is already `Window.prompt()` [1] but I think this is one of those obsolete modal Web APIs that newer browsers may ignore.  Not sure if there would be any concern for confustion.

[1] https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt

[2016-05-27 01:04] mounirlamouri commented on #4
It sounds to me that `window.prompt()` and `video.remote.prompt()` should hardly be confused but I really don't mind renaming if people believe that could be a concern.

[2016-05-27 08:38] foolip commented on #10
This behavior makes sense, I agree. It will require changes to Media Session to decouple media key access from "active local session". If it's not a problem, I suggest leaving this and https://github.com/whatwg/mediasession/issues/123 until we figure that out, and implementation could inform the design.

[2016-05-27 18:43] hober commented on #4
I think I'd like something a little more verbose than `prompt`. WebKit's method is `showPlaybackTargetPicker`, which might be _too_ verbose, but it is very clear what it does.

[2016-05-27 21:18] mounirlamouri commented on #4
@hober, the issue here is that the UI will require the prompt to show a list of devices when disconnected (ie. to connect) and a way to disconnect when currently connected. Safari implements the UI in both states the same way but it is reasonable for other implementation to be slightly different (not offer a way to pick a new device without disconnecting for example).

Is `showPrompt()` something

[2016-05-31 11:17] anssiko commented on #12
[As agreed at the F2F](https://www.w3.org/2016/05/24-webscreens-minutes.html#item11), we will publish the First Public Working Draft (FPWD) of the Remote Playback API when the edits documented as PROPOSED RESOLUTIONs (below) have landed to the Editor's Draft. Time-wise, we agreed to target the end of June FPWD publication. Factoring in a reasonable 10 working days Call for Consensus (CfC) and some

[2016-05-31 14:14] avayvod commented on #12
Hi Anssi,

Thanks for summarizing the proposals so neatly! Note, that Mounir and I both will have limited availability (at an internal offsite and BlinkOn) the week of June 13 so more wiggle room might be needed.

That said, I'm going to draft PRs for the proposed resolutions in advance this week and the next in hope there will be no more than minor adjustments to the proposals before the 10 worki

[2016-05-31 15:11] avayvod commented on #12
Also, ideally I'd like to see issue #39 resolved before FPWD as it means backwards incompatible changes to the spec.

[2016-06-01 08:15] foolip commented on #12
Is the idea here that the UA would be free to pick from any of the `source` child elements which resource to use from the remote playback? In general I would be very cautious about that, the resource selection algorithm works by picking the first source that works, and doesn't ever switch once playback is in progress.

Is the problem at hand what to do when the resource playing locally cannot be d

[2016-06-01 08:22] foolip commented on #41
So let's just list all of the things that one can do:
- Set `src`, call `load()` or otherwise cause the current resource to be abandoned
- Seek (fast or accurate, `fastSeek` is implemented in WebKit)
- Pause/play
- Change playback rate
- Change volume and mute
- Change enabled audio/video tracks
- Change enabled text tracks

Which of these might be problematic on the remote side? Do we expect to h

[2016-06-01 08:23] foolip commented on #12
Oops, will comment on https://github.com/w3c/remote-playback/issues/7 instead.

[2016-06-01 08:32] foolip commented on #7
I would caution against changing the resource selection algorithm, that works by picking the first source that works, and doesn't ever switch once playback is in progress. In particular it doesn't ever look ahead or do any scoring to pick a best resource. (Note that this is different from how `picture` works, which also has `source` children.)

You will also have sites that don't use `source` elem

[2016-06-01 08:38] foolip commented on #6
To be clear, is it this one?

That sounds like what I was hoping for in https://github.com/w3c/remote-playback/issues/6#issuecomment-174804357 but it's quite different from what @jernoble says is Safari's current behavior.

[2016-06-01 08:44] foolip commented on #25
It would be nice if calls to `play()` or `pause()` while connecting still take effect remotely after connecting, or locally if the setup fails. Otherwise you'll likely have in-page UI with play/pause buttons that don't know about this odd in-between state and it just seems flaky to the user.

A tricky one is [seeking](https://html.spec.whatwg.org/multipage/embedded-content.html#dom-media-seek), si

[2016-06-01 09:27] zcorpan commented on #41
Being able to implement WebVTT without a Web engine was a design goal originally I believe, and such implementations exist, e.g. Submerge.

[2016-06-01 09:36] foolip commented on #41
@mfoltzgoogle @avayvod, is Chromecast the only device planned for the implementation in Chrome, and would any of the things in my list be problematic?

[2016-06-01 13:21] mounirlamouri commented on #25
@foolip, I think that the idea here is that while connecting, all commands go to the local playback. That way, the developer can keep the playback running or can stop it while the connection is being made.

[2016-06-01 13:29] foolip commented on #25
Hmm, so what seeking, which it can begin before the connection is complete, but doesn't finish locally until after?

[2016-06-01 14:18] mounirlamouri commented on #25
I guess the local player state would change. Whether the network request related to the seek should be cancelled should probably be an implementation detail. When switching to `connected`, the remote playback should be in the same state as the local playback. In this case, it will also use the new seek position. Does that make sense?

[2016-06-01 14:36] foolip commented on #25
It would be hard to get it into the same state, because it's locally showing a frame for time `x` but trying to seek to time `y`. While looking into seeking I filed https://github.com/whatwg/html/issues/1362 but if that were fixed, I think that one could simply try to seek the remote to the official playback position after connection.

This is a basic question, but what happens to the local side w

[2016-06-01 16:36] markafoltz commented on #41
We plan on supporting Chromecast but may support other endpoints in the future.

I believe Cast supports most of those features through their current Receiver SDK including text track support.

However I am not in the loop on current implementation status (i.e., are all features of WebVTT supported), I would have to loop in more folks on the Cast and media stack teams regarding WebVTT and fastSeek

[2016-06-02 07:22] foolip commented on #41
Can you also check about audio track support? The `HTMLMediaElement` API for this allows enabling multiple audio tracks at once, but it's easy to imagine APIs/SDKs where only one audio track can be enabled at a time. (For video tracks, only one can be enabled.)

[2016-06-02 16:17] avayvod commented on #40
@mfoltzgoogle, I think that the website would typically just use one or the other example for `setupRemotePlayback`. I implemented the functions in the example to underline they could be reenterable, including your suggestion about hiding/showing the button.

I think addressing issues #36 and #4 should make the examples clearer too.

[2016-06-06 13:41] avayvod opened #45 "Change connect() to return Promise<void>"
... and reject when user cancels the selection.
Having to wait for the Promise to be resolved and then to check if its value is true seems to make the examples less straightforward:

[code]

vs.

[code]

[2016-06-06 13:54] avayvod commented on #4
What would the Promise mean in the context of `showPicker()` or `prompt()`? How would the behavior be defined in the spec w/o biasing towards the existing implementations too much?

Seems like something along the following lines:

When `showPrompt|Picker()` is called, the user agent MAY present some UI so the user could start or stop the remote playback. The returned promise will be fulfilled with

[2016-06-06 13:55] avayvod commented on #45
Or return `Promise<RemotePlaybackState>` since the method could be used to both start and stop remote playback as per issue #4

[2016-06-08 13:24] avayvod commented on #12
Hi Anssi et al,

My priorities have switched to another feature in Chrome for the next couple of weeks so I doubt I'll have enough time to fix the issues blocking the FPWD by June 13. Could we move the date to whenever all the blocking issues are closed?

Thanks,
Anton.

[2016-06-08 14:10] anssiko commented on #12
@avayvod Thanks for the heads up. Unless Mounir or someone else is able to back you up, we'll need to delay the publication. Are you able to provide a guesstimate when you think you could close the FPWD blockers so we could plan the publication accordingly. Would e.g. 27 June be too early?

[2016-06-08 14:54] avayvod commented on #12
Let's target June 27 for now and move it to later if needed.

[2016-06-10 14:57] #40 closed, assigned to nobody

[2016-06-10 14:57] #38 closed, assigned to nobody

[2016-06-10 14:58] #37 closed, assigned to nobody

[2016-06-10 14:58] #35 closed, assigned to nobody

[2016-06-10 14:58] #34 closed, assigned to nobody

[2016-06-10 15:00] #36 closed, assigned to nobody

[2016-06-22 14:05] anssiko commented on #12
@avayvod Are we still on track to close the FPWD blockers by June 27 (next Monday), or should we plan with a later date in mind?

[2016-06-23 14:46] avayvod commented on #12
Hi Anssi, probably not. I'm only getting back to work on Remote Playback API next Monday. Let's move by two more weeks, please.

[2016-06-23 15:16] anssiko commented on #12
Let's plan for 11 July to have the FPWD blockers cleared.

The upcoming vacation period might impact our publishing plans, since we'll need W3C team support to publish an FPWD (can only use the [automated publication workflow](https://github.com/w3c/echidna) for WDs).

@tidoust any blackout date for the summer months regarding publishing from the team's perspective? Assuming 11 July we have a publ

[2016-06-24 08:32] tidoust commented on #12
@anssiko The only blackout dates before TPAC are next week (Geek Week), so no problem for a later publication.

Once we have a publication ready FPWD in our hands, we first need to record the group's approval to publish the FPWD. Once done, I need to get the approval of the Ubiquitous Web domain lead, and request publication (FPWD still need to be published manually, Echidna cannot be used). The f

[2016-06-27 13:14] anssiko commented on #12
[CfC: Publish First Public Working Draft of Remote Playback, review by 11 July](https://lists.w3.org/Archives/Public/public-secondscreen/2016Jun/0094.html)

Note: the FPWD publication is conditional to the [F2F resolutions](https://github.com/w3c/remote-playback/issues/12#issuecomment-222659882) being integrated into the spec.

@tidoust To plan ahead, assuming we have a publication ready FPWD by 1

[2016-06-28 13:41] avayvod commented on #4
@mounirlamouri @hober @jernoble WDYT?

[2016-06-28 13:42] avayvod commented on #45
@mounirlamouri since you were for `Promise<bool>` in the first place :P

[2016-06-28 14:51] avayvod commented on #39
I've looked at the IntersectionObserver and IDBObserver. Both seem a bit too complex for our use case, creating new objects and all. I think I'd settle for using what Mark initially proposed - live `availability` attribute with an unknown value for when the state is unobserved or the media element source has changed, but using an observer pattern to work around the event handler issue of having to

[2016-06-29 15:00] avayvod commented on #45
Offline we agreed on returning a `Promise<void>`

[2016-06-29 15:06] avayvod commented on #39
We simplified it a bit today in an offline discussion with Mounir:

[code]

[2016-06-29 16:23] avayvod commented on #4
Mounir and I agreed on (well, we didn't discussed the name).

[code]

The `Promise` returned is rejected if the UI cannot be shown for some reason, and otherwise fulfilled after it's closed. The page will then check the `state` to figure out if it's now connecting to a device or is disconnected.

I like `changeState` as the method name as it's clear what's happening from the page point of view whi

[2016-06-29 19:25] avayvod commented on #41
@foolip I think it's not supported, I couldn't find any info in the Cast API reference at least. Tracks are only mentioned in the context of WebVTT for closed captions.

[2016-06-29 19:33] avayvod commented on #25
I guess in practice we'll bind the local state and remote states in this case to the external APIs/controls/UI, not the internal/remote media player - when one seeks, the UI/controls usually move to the target position so when the local state will be transferred to the remote playback device once the UA is connected to it, the seek for the target position will be sent to the remote playback device

[2016-06-30 12:41] foolip commented on #25
Setting [`currentTime`](https://html.spec.whatwg.org/multipage/embedded-content.html#dom-media-currenttime) also sets the "official playback position" which will cause `currentTime` to immediately return that same value. There's also the `seeking` attribute that becomes true immediately.

I don't thing any of this will be very hard to sort out, but it does mean that one may have to decide whether

[2016-06-30 23:02] markafoltz opened #46 "Should rendering behavior of the remote-d media element be specified?"
I didn't see any language in the spec that the user agent initiating remote playback is required to stop rendering media in the element after connection to a remote playback device.  But I would assume this behavior is intended, unless there is a use case for simultaneous playback (i.e., connection to a recording device or showing the same media in two rooms).

[2016-06-30 23:04] markafoltz opened #47 "Need to define behavior of media.remote when disableRemotePlayback = true"
The spec currently reads,

But the media element must still return an instance of RemotePlayback.  The behavior of this object should be defined when disableRemotePlayback is present.

[2016-06-30 23:14] markafoltz opened #48 "Implementation guidance for browsers when a media element with controls is remoted"
The controls attribute will have the UA render default media controls for the media element [1].  If a media element with controls set is remoted, the spec might want to note that the default controls should be updated accordingly for the remote case (i.e. the attribute is still respected even in remote mode), and possibly give an implementation suggestion like using a poster image in place of the

[2016-07-01 16:38] tidoust commented on #12
@anssiko Yes, I will try to arrange things accordingly.

[2016-07-05 20:42] avayvod commented on #47
I think this is a duplicate of Issue #6

[2016-07-05 20:42] #47 closed, assigned to nobody

[2016-07-05 20:57] avayvod commented on #46
@foolip for guidance. I would imagine that unless this is [mirroring](https://w3c.github.io/remote-playback/#dfn-media-mirroring) it would be very hard for the user agent to maintain the externally visible player state and both local and remote playback states in sync. I'm fine with leaving that to the implementation with some guidance (something like "stopping local playback is recommended to sav

[2016-07-06 09:26] mounirlamouri commented on #46
I believe [Anton's WIP draft](https://avayvod.github.io/remote-playback.html) mentions a local playback state and an external playback state. Shouldn't that address your issue Mark?

[2016-07-06 10:11] foolip commented on #46
The main thing that comes to mind is what happens to the `videoWidth` and `videoHeight` attributes, and what happens if the video size changes on the remote side. In other words, should the local layout depend on what happens on the remote side, should it be frozen at connection time, or should the intrinsic size of the video element revert back to 300x150?

[2016-07-06 10:42] mounirlamouri commented on #46
It sounds to me that freezing the layout to whatever it was before the connection is the best way to go. It would make transitioning back and forth from local to remote playback smoother.

[2016-07-06 11:14] foolip commented on #46
Can you check what Safari does with its prefixed API? If it's something sensible then just matching that would be good.

Spec-wise, the concept that needs to be amended is the list after "A video element represents what is given for the first matching condition in the list below" in https://html.spec.whatwg.org/multipage/embedded-content.html#the-video-element

[2016-07-11 11:18] avayvod commented on #45
I believe this is fixed with #49

[2016-07-11 11:18] #45 closed, assigned to nobody

[2016-07-11 11:19] avayvod commented on #41
This was partially addressed by #49 (w.r.t. local/remote state transitions I think), we could be more explicit about what must and should be supported.

[2016-07-11 11:20] avayvod commented on #39
Fixed by #49. Feel free to discuss the name (watch vs monitor vs observe, etc) in a new issue.

[2016-07-11 11:20] #39 closed, assigned to nobody

[2016-07-11 11:20] avayvod commented on #25
I think this is fixed by #49 although we could be more explicit about what's included in the state, perhaps. Let's file a new issue if we feel so.

[2016-07-11 11:20] #25 closed, assigned to nobody

[2016-07-11 11:22] avayvod commented on #7
This was specified in #49. The UA either MUST use currentSrc for availability and remote playback or MUST use all the available media resources and pick one of them for remote playback.

[2016-07-11 11:22] #7 closed, assigned to nobody

[2016-07-11 11:22] avayvod commented on #6
Addressed by #49.

[2016-07-11 11:22] #6 closed, assigned to nobody

[2016-07-11 11:23] avayvod commented on #4
Addressed in #49. I went with prompt() as we didn't seem to have agreed on anything yet. We can rename later.

[2016-07-11 11:23] #4 closed, assigned to nobody

[2016-07-11 13:44] foolip commented on #7
Any thoughts about the issues in https://github.com/w3c/remote-playback/issues/7#issuecomment-222927470? I don't quite see why this is allowed to be implementation-specific, can't the spec simply say what will be implemented?

[2016-07-11 17:00] avayvod commented on #7
@foolip do you mean that in the latter case, the UA should also choose the first media resource that works?

I guess we could also say that currentSrc might change to the selected resource then.
Duration and tracks (if supported) should be messaged back by the remote playback device if it's media flinging/remoting or determined by the UA in case of mirroring.

Any other issues I missed? canPlayTyp

[2016-07-12 10:00] foolip commented on #7
I mean that the algorithm for picking a resource can be spelled out in detail unless diverging behavior is desirable or perhaps unavoidable. If it's left undefined, then sharing tests between implementations won't be possible because any behavior is allowed.

The trouble with `canPlayType` is that sites can rely entirely on that instead of appending `source` child elements, in fact I'd guess that

[2016-07-14 15:46] anssiko commented on #12
First Public Working Draft published:
https://www.w3.org/TR/2016/WD-remote-playback-20160714/

[2016-07-14 15:46] #12 closed, assigned to nobody

[2016-07-20 05:10] deeblkelk commented on #46
Fuck isiahcutgrass

[2016-09-22 09:32] avayvod commented on #41
In the spirit of "let's list what one can do".

This is just the main `HTMLMediaElement` interface:

`readonly attribute MediaError? error;`

On error, remote playback is likely to disconnect. MUST be set when `ondisconnect` is fired due to an error.
Should we expand error values for remote playback cases?

`attribute DOMString src;`

Setting |src| MUST try to load the corresponding media resource

[2016-09-22 10:36] avayvod commented on #41
Some other HTMLMediaElement extensions (EME, MSE, Audio Sinks):

`attribute MediaProvider? srcObject`

MUST support. Invokation of `load` algorithm may fail if the source is not supported.

`readonly attribute DOMString sinkId;`

MAY support. By default returns an empty string.

`Promise<void> setSinkId(DOMString sinkId);`

MAY support. Rejects with `NotSupportedError`.

`readonly attribute MediaK

[2016-09-22 10:36] avayvod commented on #41
`HTMLVideoElement`

`attribute unsigned long width;`

MUST support. Depends on representation (poster or just a black 300x150 rectangle).

`attribute unsigned long height;`

MUST support. Depends on representation (poster or just a black 300x150 rectangle).

`readonly attribute unsigned long videoWidth;`

MUST support. Fallback to `width` if information is not available from the remote playback de

[2016-09-22 10:45] avayvod commented on #41
Note, the `width` and `height` of the video element should rather be the last known width/height (with recommendations on what to render, like a scaled poster image and label indicating the remote playback device). See #46 and #48.

[2016-09-22 11:00] avayvod commented on #41
And last but not least, the events that can fire. The rule of thumb is whether the corresponding attributes like `readyState` and `networkState` are supported and can take the corresponding values.

`loadstart`

MAY be supported.

`progress`

MAY be supported.

`suspend`

MAY be supported.

`abort`

MAY be supported.

`error`

MUST be supported.

`emptied`

MAY be supported.

`loadedmetadata`

MAY

[2016-09-22 13:24] avayvod commented on #41
`requestFullscreen` MUST work but affect the local representation of the media element.

[2016-09-23 08:18] avayvod commented on #41
F2F feedback:
- it's not great to copy another spec (HTMLMediaElement) in our spec
- since the HTMLMediaElement doesn't seem to have MUST for most methods, we shouldn't restrict the `connected` state more than the `disconnected` (a use case mentioned, for instance, is custom browsers that are not allowed to implement seeking due to content restrictions - such browsers won't be able to comply with

[2016-09-23 08:39] avayvod commented on #41
TBH, the spec for `HTMLMediaElement` does say, that `fastSeek()` MUST run the [seek](https://html.spec.whatwg.org/multipage/embedded-content.html#seeking) algorithm which has a strong definition of MUST run the steps. So I stand corrected and feel that the example given yesterday is not valid. Not clear how to avoid depending on the `HTMLMediaElement` spec.

[2016-09-23 08:47] foolip commented on #41
Remote Playback changes how `HTMLMediaElement` behaves, to not spell out the details of how doesn't seem tractable. If you think describing it as a special mode in the HTML spec that your spec then flips the bit for, that's a possibility too.

[2016-09-23 09:06] avayvod commented on #41
F2F: group the features into what MUST work but may change the behavior, what MAY not work and how it behaves if it doesn't; only list these features in the spec assuming the rest work without a change.

[2016-09-23 09:12] avayvod commented on #41
F2F: state transition algorithm might be the trickiest ones to change (remote playback device might not provide as many states as HTMLMediaElement exposes to the page).

[2016-09-26 12:26] tidoust commented on #48
See [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins20)

Main takeaway is to add a note to recommend that controls should convey the fact that the playback happens remotely. Also discussion suggests to make explicit that local playback of a video that gets remoted should be paused.

[2016-09-26 12:27] tidoust commented on #10
See [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins21)

The group will wait until the Media Session spec matures before it revisits this issue.

[2016-09-26 12:29] tidoust commented on #41
For reference, see [minutes of the discussion at TPAC](http://www.w3.org/2016/09/23-webscreens-minutes.html#item02)

[2016-10-15 17:50] mounirlamouri opened #52 "cancelWatchAvailability isn't clickable"
Go to https://w3c.github.io/remote-playback/#remoteplayback-interface you will see that you can click most items in the interface apart from `cancelWatchAvailability`

[2016-10-15 17:56] #52 closed, assigned to nobody

[2016-10-15 18:00] mounirlamouri opened #53 "Race between cancelWatchAvailability and disableRemotePlayback"
According to the specification, calling `cancelWatchAvailability` will reject if `disableRemotePlayback` is true. However, setting `disableRemotePlayback` is not expect to stop watch which means that we might end up in situations where per spec, the callback to watch availability will have to run for ever.

We should either ask that `disableRemotePlayback` cancels watch or that `cancelWatchAvailab

[2016-10-15 18:01] mounirlamouri commented on #53
CC @jernoble @avayvod

[2016-10-18 17:45] avayvod commented on #53
I agree with Mounir.

[2016-10-18 21:34] markafoltz opened #55 "Define interaction with setMediaKeys() / Encrypted Media Extensions"
Some user agents may or may not be able to remote video with media keys set before or during remoting.   The spec should provide some guidance as to what developers should expect when `setMediaKeys()` [1] is called on a remotable media element.

[1] https://w3c.github.io/encrypted-media/#htmlmediaelement-extensions

[2016-10-18 22:00] #53 closed, assigned to nobody

[2016-10-18 22:06] avayvod commented on #55
The strawman proposal from #41 was to do the following:

`readonly attribute MediaKeys mediaKeys;`

MAY support. Return `null` otherwise.

`Promise setMediaKeys(MediaKeys? mediaKeys);`

MAY support. Reject with `NotSupportedError`.

`attribute EventHandler onencrypted;`

MAY support. Otherwise, no-op.

`attribute EventHandler onwaitingforkey;`

MAY support. Otherwise, no-op.

It doesn't describe h

[2016-10-24 17:57] mounirlamouri opened #56 "Define what should happen when device gets disconnected while playing"
If there is a remote playback happening and the device gets disconnected, the `state` would switch to `disconnected` and likely the availability callback will be called. Should we define the order? or is it already define?

[2016-10-24 17:57] mounirlamouri commented on #56
CC @avayvod

[2016-10-26 16:31] chrisn opened #57 "Consistency with Presentation API"
The Remote Playback API has different method names for actions that are conceptually very similar to the Presentation API.

For example, the Remote Playback API has `watchAvailability()`, which takes a callback parameter, whereas the Presentation API has `getAvailability()` that returns a `PresentationAvailability` object with an `onchange` event handler. Also, `start()` in the Presentation API is

[2016-10-26 16:48] mounirlamouri commented on #57
The Remote Playback API is a higher level API which explains some of these disparities. `start()` and `prompt()` are not the same thing. `prompt()` will show a platform specific UI while `start()` should do start the connecting process. Calling `start()` while connected means that you want to connect to something else. Calling `prompt()` while connected, means that you want to show some UI - detai

[2016-10-28 11:54] chrisn commented on #57
Thanks @mounirlamouri. I think a simpler design benefits both users and implementers. I guess my question then is whether the Presentation API could use a similar callback approach rather than `PresentationAvailability`. The algorithm steps for each look pretty similar, but maybe there's some subtlety I'm missing that means the availability object is needed.

[2016-10-28 12:40] tidoust commented on #57
If I'm not mistaken, we discussed this during our F2F in Mountain View in May 2016. I raised a similar question then, captured in the minutes as:

http://www.w3.org/2016/05/24-webscreens-minutes.html#item03

Essentially, it's a good idea in theory but it comes in a bit late for the Presentation API, which has been mostly stable for some time now.

[2016-10-28 13:02] chrisn commented on #57
OK, I'd be happy to raise an issue if we think it'd be in scope for a Presentation API v2.

[2016-10-28 13:48] mounirlamouri commented on #57
@chrisn I'm going to close this issue. Please file an issue with the Presentation API if you believe that it should be changed.

[2016-10-28 13:48] #57 closed, assigned to nobody

[2016-10-31 12:09] anssiko opened #58 "Update status section"
In preparation for the wide review, it would be good to update the SoTD section, clarify the "This document is a work in progress and is subject to change" note to better reflect reality knowing implementations are coming together. Also, note the status of existing issues. My assessment says the remaining open issues are considered minor, except issue #41 that suggests extensions to HTMLMediaEleme

[2016-10-31 20:55] markafoltz commented on #57
The main differences I see in the RP API availability interface:
- The user agent has to keep track of a list of ids for registered availability callbacks instead of the lifetime of availability objects.
- The Web developer registers callbacks instead of using the EventTarget interface.
- The Web developer can cancel an availability callback or all callbacks.
- The Web developer doesn't have a pla

[2016-10-31 21:03] markafoltz opened #59 "Getting availability and monitoring list of devices algorithms"
Step 8-1 of the getting availability algorithm [1] queues a task to invoke the callback with the availability status, but it's not clear what the value would be if the "monitoring a list" algorithm was not already running.

As a corollary, the "monitoring a list" algorithm does not need to be started again in step 8-2 if it was already running.  Or is it assumed to run continuously in the backgrou

[2016-11-01 11:36] anssiko commented on #58
@tidoust please ping this issue when the status section has been updated accordingly and we'll prepare a snapshot ready for WD publication.

[2016-11-01 21:48] avayvod commented on #59
There's a definition for [availability](https://w3c.github.io/remote-playback/#dfn-availability) value for the specific media element. We should define it as empty initially - that would guarantee `false` to be returned with the first callback.

We might rephrase 8-2 to not run the "monitoring a list" algorithm if it's already running.

[2016-11-01 22:24] avayvod commented on #56
Do you have an example when it would matter? CC @mfoltzgoogle

We encourage the websites to stop monitoring availability once in connected state (to save battery and so on), so updating availability callbacks at the time of disconnect shouldn't be important. Once the element disconnects, our example will start watching availability again and that would result in a callback anyway.

[2016-11-01 22:24] avayvod commented on #56
CC @jernoble

[2016-11-02 14:32] tidoust commented on #58
From a timing perspective, note that the group is in-between charters: the charter expired a couple of days ago, the new one has not been officially approved yet. It would be preferable to postpone publication to /TR/ until we have a proper charter. That should be the case by end of this week.

[2016-11-02 21:13] #59 closed, assigned to nobody

[2016-11-03 16:06] mounirlamouri opened #63 "prompt() should not be rejected if the state was connected when called"
IMO, "6.2.2 Prompt user for changing remote playback state" should be changed to include a step between current 11 and 12 so that if the state was `connected` and remained `connected`. Such that the user did not change the connecting device, the promise should be fulfilled. At the moment, it would be rejected which could be very surprising when the user is in a connected state because the UA could

[2016-11-03 20:30] avayvod commented on #63
It is similar to `PresentationRequest.start()` which always rejects if the dialog is dismissed. Otherwise if the `state` is `connected`, promise returned by `prompt()` is useless.

[code]

The latter would be impossible if we always resolve the promise when `connected`.

If we really want to simplify it, we could just abandon the promise altogether and rely on the events - the website has to handl

[2016-11-04 23:33] avayvod opened #64 "Merge steps 5 and 9 for prompt() algorithm"
Both steps essentially mean the case when the current source of the media element is not compatible with found devices (although step 5 doesn't require running the monitoring algorithm since it covers the case of fundamentally unsupported sources while step 9 is for the case when the source is only unsupported by the devices found).

I think it's confusing and merging 5 into 9 would probably be ea

[2016-11-05 00:01] avayvod opened #65 "Make NotFoundError when prompt() is called and availability monitoring is not available optional"
The step 8 from the ```prompt()``` [algorithm](https://w3c.github.io/remote-playback/#prompt-user-for-changing-remote-playback-state) was inspired by the similar step (10.2) in the Presentation API's ```PresentationRequest.start()``` [algorithm](https://w3c.github.io/presentation-api/#starting-a-presentation).

This step seems problematic to implement when the availability monitoring is not suppor

[2016-11-07 15:27] tidoust commented on #58
SOTD updated and new WD published at:
https://www.w3.org/TR/2016/WD-remote-playback-20161107/

[2016-11-07 15:27] #58 closed, assigned to tidoust

[2016-11-08 18:20] markafoltz commented on #64
Why would you need to run the steps to monitor available playback devices if you already know the video cannot be remoted?  It seems like it's worthwhile to keep this optimization.

[2016-11-08 18:25] markafoltz commented on #65
I believe this step is to handle when the user agent has disabled device discovery in a way that won't change over the lifetime of the call to `prompt()`, so the user agent would have no reason to show a dialog anyway.  I don't think we handle this specifically on Chrome for desktop and always show the dialog.

[2016-11-09 11:02] tidoust opened #66 "Internationalization considerations"
It is good practice to evaluate the spec against [internationalization techniques](http://www.w3.org/International/techniques/developing-specs) before requesting horizontal review from the i18n group. Most of these points do not seem to apply to the Remote Playback API though.

It seems useful to take a look at the Presentation API and draw parallels. I think the following i18n-related aspects of

[2016-11-09 11:13] tidoust opened #67 "Evaluate Security and Privacy impacts"
Before we request horizontal reviews on security and privacy, the group should review and assess the Remote Playback API against the [Self-Review Questionnaire on Security and Privacy](http://www.w3.org/TR/security-privacy-questionnaire/), and suggests text for a possible security and privacy section in the spec, similar to the [one in the Presentation API](https://w3c.github.io/presentation-api/#

[2016-11-11 17:28] mounirlamouri commented on #65
My understanding of step 8 is that the user agent should reject immediately if it knows that the dialog will show no devices. However, the case you present is different because we need to show the dialog and do the discovery and then realize there is nothing.

Is my understanding correct?

[2016-11-11 17:35] mounirlamouri commented on #56
The fact that we encourage websites to stop observing while connected doesn't mean that they will do it and they should be able to observe the change if they want to.

To be clear, I don't think it's a serious issue but it would be good if there was language because this a scenario that will definitely happen:
- user is connected to wifi and has a remote playback session
- wifi drops
- `disconnect

[2016-11-11 17:39] mounirlamouri commented on #64
I agree with @mfoltzgoogle

[2016-11-11 21:29] avayvod commented on #64
I think the algorithm wouldn't prevent the user agent from early exit (we could add a note for that).
My reasoning was that the algorithm now has two exit points where the promise is rejected with the same exception and the difference seems to be very subtle and hard to understand for web authors (even I had to read it a couple of times before I remembered what it is). Maybe we should just rephras

[2016-11-11 21:32] avayvod commented on #65
Yes, I'm thinking about the case when the background availability monitoring is not available and we have to show the dialog to start active device discovery. We could argue that there's no timeout in this case as user could turn on a device at any moment.

[2016-11-11 21:37] avayvod commented on #56
This could be an implementation specific detail though as the discovery mechanism could fire availability update to the user agent after the connection mechanism decides the device is lost. Meaning we might not be able to implement this.

[2016-11-11 21:38] avayvod commented on #56
I agree with the order you propose though.

[2016-11-12 22:49] mounirlamouri commented on #64
I think rephrasing would be good. FWIW, ideally, it shouldn't matter for web authors. Actually, the only thing that bothers me about this step is that it is before the check for "is allowed to show pop up" which means that a web author could figure which formats can be played by calling `prompt()` on different `<video>`. In other words, it makes the step observable while in principle, it's mostly

[2016-11-12 22:55] mounirlamouri commented on #65
In the case you describe, `prompt()` would hang while the dialog is visible and the `state` will stay `disconnected` which is all fine, right? If the user picks a device, it would switch the `state` to `connecting` and resolve the promise. Otherwise, it would reject the promise with `NotAllowedError`, right?

[2016-11-12 22:59] mounirlamouri commented on #56
I would suggest to mention this in the specification at least. It is possible that the order can't be followed because some devices will not fire the event in a way that will allow such implementation but the rule can always be a `SHOULD` and note that it could not be followed if there are underlying platform limitations.

[2016-11-16 09:33] foolip opened #68 "Use [SameObject] for HTMLMediaElement#remote"
https://w3c.github.io/remote-playback/#extension-to-the-htmlmediaelement

If it always returns the same object, `[SameObject]` can be used.

[2016-11-16 17:51] #68 closed, assigned to nobody

[2016-11-16 20:02] avayvod commented on #65
Ok, one can argue that in the use case I describe above the UA doesn't know if the "list of available remote playback devices..." "...will remain so [empty] before the request for user permission is completed" which makes the step a no-op.

[2016-11-16 20:02] #65 closed, assigned to nobody

[2016-11-16 22:56] mounirlamouri commented on #55
Merging with #41.

[2016-11-16 22:56] #55 closed, assigned to nobody

[2016-11-17 21:12] mounirlamouri commented on #63
WebKit work in progress patch seems to also implement it the way the spec says. I guess if both you and @jernoble had no concern, let's close this.

[2016-11-17 21:12] #63 closed, assigned to nobody

[2016-11-30 19:43] mounirlamouri commented on #67
@avayvod added a privacy and security section.

[2016-11-30 20:09] avayvod commented on #67
My answers to the questionnaire are below:

1. Does this specification deal with personally-identifiable information?

The API generally exposes one bit of information about whether there's a remote
playback device available to the user agent for a particular media element.
Depending on the implementation it is possible to get more information about a
particular device by getting the availability

[2016-11-30 20:10] #67 closed, assigned to nobody

[2016-12-05 07:30] tomoyukilabs commented on #66
In addition to the items suggested above, I would like to suggest that rendering text tracks (e.g. WebVTT) by a remote playback device might be affected by the locale if the device would support text tracks, especially in the case of CJK languages. This concern might be similar to https://github.com/w3c/presentation-api/issues/218#issuecomment-155362449. As well as user agent's locale, [`srclang`

[2017-01-26 15:00] stevenatkin opened #70 "Should the ability to query by language or country be added to watchAvailability()"
6.2.1.3 Getting the remote playback devices availability information
https://w3c.github.io/remote-playback/#getting-the-remote-playback-devices-availability-information

Would there be a need to query remote device playback availability based upon language and our country? Could we have a situation where there would be some specific hardware that would need to be selected based upon language? For

[2017-01-28 10:58] sompor1992 opened #71 "<EDITED TITLE>"

[2017-01-28 15:28] #71 closed, assigned to nobody

[2017-03-10 13:59] anssiko opened #73 "[meta] Publish Candidate Recommendation"
This meta issue tracks progress toward the [Remote Playback API][1] Candidate Recommendation (CR) publication. Editor: @mounirlamouri

By publishing a CR we:

* ask the entire W3C membership to provide feedback,
* formally collect implementation experience to demonstrate that the specification works in practice.

The [CR requirements][2] are the following from the W3C Process perspective:

* [x] m

[2017-03-20 00:22] avayvod commented on #10
Ok, revisiting the issue as both APIs are now shipping in Chrome.

I'd like the metadata at least to be applied to the remote playback if set on ```navigator```.

The actions and event handlers are harder to define though - it doesn't seem like a good experience to pause both local and remote playback, for instance. It would be okay if only remote playback is happening (e.g. on iOS as I remember,

[2017-03-20 09:59] mounirlamouri commented on #10
One principle of the Media Session specification is that the instance on `navigator.mediaSession` will hook itself to the default audio focus used by the user agent. With remote playback, the user agent uses a different audio focus than the one on the device which means that handling remote playback in the default media session would break this principle.

Adding a `MediaSession` instance on the `

[2017-03-20 17:08] markafoltz commented on #10
I agree with keeping the global, user-agent media session distinct from a media session used to control remote playback.

One question is, do we expect at most one remote media session per user agent, or could there be multiple active sessions (one per remote device)?

[2017-03-20 21:56] avayvod commented on #10
@mounirlamouri Do you agree we can say that if the only media playing is playing remotely, the UA is only involved in one audio focus - the remote one? Using ```navigator.mediaSession.metadata``` alone for remote playback sounds useful on its own to me agnostic to audio focus and controls.

What other things did you have in mind? Some things not attached to the specific media element?

[2017-03-20 21:58] chrisn commented on #10
I'd prefer a design that allows multiple active sessions.

[2017-03-20 22:00] avayvod commented on #10
@mfoltzgoogle In Chrome we only support one remote media session per system (limitation of the Cast SDK). However the Remote Playback API specification doesn't prevent remote playback of multiple elements on multiple remote playback devices in the same spirit as the Presentation API that IIRC allows multiple PresentationConnections to be established with different presentation screens.

[2017-04-06 12:59] anssiko commented on #73
Ping @avayvod @mounirlamouri to check the availability to work on #41 and the [test suite update][1] blocking this CR publication.

[1]: https://github.com/w3c/web-platform-tests/tree/master/remote-playback#todo

[2017-04-11 09:50] cynthia opened #74 "Interoperability concerns by lack of a common denominator in transport"
This is a follow-up from the TAG review request.

I haven't done a particularly good job at getting back to the group with the feedback we had, I apologize for that. The API side of the spec is sound, and I don't see anything that would be a serious issue worth opening issues for - but the elephant in the room is interoperability.

Setting aside the fact that this is already being implemented and

[2017-04-11 09:53] dbaron commented on #74
The TAG review request is w3ctag/spec-reviews#145 (which I'm saying so there's a link both ways).

[2017-04-11 10:34] mounirlamouri commented on #74
Thanks for the feedback @cynthia. The open screen protocol that @mfoltzgoogle is working on is indeed one of the solution we are considering for this interoperability issue.

This said, the Remote Playback API completely abstracts the protocol to the web developer contrary to the Presentation API. That means that websites will not have to do sniffing and will only be told that there is or is not a

[2017-04-18 16:42] avayvod commented on #74
@cynthia based on the dicsussion at the [last spec review meting](https://pad.w3ctag.org/p/2017-04-18-minutes.md) it doesn't appear you've see @mounirlamouri's response above.

Does it address your concerns about the protocol?

Also, w.r.t the failure to play remotely, the spec defines throwing ```DOMException``` of different types in different situations (like ```NotSupportedError```, ```NotFound

[2017-04-19 15:58] cynthia commented on #74
@avayvod Yes, you are correct - for some reason that reply slipped through my attention. (I blame a large backlog of mails, but that's mostly an excuse. Apologies to @mounirlamouri .)

First of all, I understand the rationale for the abstraction - I had a quick chat with @anssiko about the background when I was first tasked to look into this. Unfortunately, it doesn't address the concerns - but mo

[2017-04-22 09:55] mounirlamouri commented on #74
@cynthia you are right that this is not ideal but one goal of this API was to offer a way for the web page to trigger the current "fling" feature that browsers have implemented by default (Chrome and Firefox offer Cast on Android, Safari offers Air Play). A user trying to "fling" a video shouldn't have to care whether it is using the API or the built-in feature. The concerns of not being able to u

[2017-05-04 06:43] anssiko commented on #73
Gently nudging @avayvod @mounirlamouri.

Would it be helpful to have a topic-specific WG call to discuss the Remote Playback API plan to CR, associated requirements, things to do? Any specific areas where you'd especially welcome contributions from other WG participants? Let us know.

[2017-05-04 18:14] markafoltz commented on #46
@mounirlamouri @avayvod Have you had a chance to check the Safari behavior?

Re: https://github.com/w3c/remote-playback/issues/46#issuecomment-230722760 I don't think the _local playback state_ completely covers the original question raised by this issue.

As _media element state_ is currently defined in the spec it covers HTMLMediaElement properties but does not address the rendered output of the

[2017-05-04 18:24] markafoltz commented on #41
Were there any work items from the TPAC discussion?  It seems like we should make an effort to classify media element features into MUST, SHOULD and unspecified using the current shipping implementations as a baseline.

[2017-05-04 20:04] markafoltz commented on #64
There are three other issues I noted when preparing #76.

- I don't see a guarantee that the steps to start monitoring devices in 7 complete before step 9 is encountered.  If they don't happen to find a device in time, then prompt will reject.
- If the steps to monitor do complete, then steps 8 and 9 seem to be equivalent: if a compatible remote playback device is found, then availability must be

[2017-05-04 20:19] avayvod commented on #64
SGTM

[2017-05-04 21:06] markafoltz commented on #73
@anssiko It looks like the specification received TAG and privacy feedback so I checked those off.  Is i18n review expected to complete soon?

[2017-05-04 21:09] markafoltz opened #80 "[Privacy] Request to disable monitoring when disableRemotePlayback is set"
https://lists.w3.org/Archives/Public/public-privacy/2017JanMar/0009.html

Should update steps to ensure that monitoring is stopped when the set of availability callbacks has been emptied?

[2017-05-04 21:10] markafoltz opened #81 "[Privacy] Clarify steps to generate callbackId"
https://lists.w3.org/Archives/Public/public-privacy/2017JanMar/0009.html

I think the spec is clear that it's unique to the media element.  Should an algorithm be defined to generate it?

[2017-05-04 21:12] markafoltz opened #82 "[Privacy] Clarify that availability callback does not include human readable names"
https://lists.w3.org/Archives/Public/public-privacy/2017JanMar/0009.html

It seems clear enough this is not the case, but perhaps we can add a sentence in the Privacy section clarifying this.

[2017-05-04 23:03] avayvod commented on #80
Given there might be user agent specific UI (default controls or toolbar) depending on the monitoring, I don't think we can require the UA to stop all monitoring when the set of availability callbacks is empty.
It's similar for the ```disableRemotePlayback``` attribute. There might be other media elements loaded on some page or other browser feature depending on the monitoring (like tab casting).

[2017-05-04 23:13] avayvod commented on #81
I'm not even sure what a "callback device" is in the question.

A callback is basically a Javascript function that can be called by the user agent. A numeric identifier is needed to be able to unregister the callback for cleanup. In Chrome we just find the next integer that's not assigned to any previously registered callback that hasn't been cancelled yet. I'd be wary putting this into an algorit

[2017-05-04 23:19] markafoltz commented on #81
My reading was that "Callback device" is the device triggering the callback, e.g. a newly discovered remote playback device.

[2017-05-04 23:21] #64 closed, assigned to nobody

[2017-05-04 23:22] #56 closed, assigned to nobody

[2017-05-08 23:19] markafoltz commented on #80
If `disableRemotePlayback` is set on a media element, won't that also disable remote playback UI on the default controls/toolbar?

I agree that an empty set of availability callbacks shouldn't disable monitoring though.

We may want to clarify that there if there is a browser level control to disable background monitoring, how the API should behave.

[2017-05-08 23:20] markafoltz commented on #81
I think a note clarifying the id generation mechanism would address this concern.  I can propose a PR.

[2017-05-09 00:37] avayvod commented on #81
The ```id``` is returned way before any device is found (at least in the simple use case when availability starts as a result of watchAvailability). When the device is found, the callback is fired with a single boolean argument and its ```id``` doesn't change.
Clarifying the id generation would probably help eliminate confusion though I agree.

[2017-05-09 00:45] avayvod commented on #80
Definitely not on the user agent's toolbar as it's unlikely refers to one single element.

```disableRemotePlayback``` is to prevent remote playback of a certain media element, not availability monitoring although it does disable the media element specific availability related methods for consistency.

I'm not sure clarifying how browser features / settings affect the API is necessary as long as i

[2017-05-09 08:49] anssiko commented on #41
@mfoltzgoogle, the TPAC meeting minutes confirm that was the proposed plan:

https://www.w3.org/2016/09/23-webscreens-minutes.html#item02

This issue is a blocker for the CR publication tracked in #73 and based on my assessment this should be resolved to be able to identify possible "at risk" features. The process doc tells us such "at risk" features "may be removed before advancement to Proposed

[2017-05-09 08:56] anssiko commented on #73
@mfoltzgoogle, I pinged https://github.com/w3c/i18n-activity/issues/274. The i18n review has been in the "awaiting comment resolution" state since Feb 9.

[2017-05-09 16:21] anssiko commented on #73
The i18n review has been completed, and one issue https://github.com/w3c/remote-playback/issues/70 was identified.

We should try to address this issue before going to CR. An informative note in the respective section  should address the issue.

[2017-05-09 17:37] markafoltz commented on #70
This could be tricky because for a given media element:
- There can be multiple languages conveyed by different WebVTT `<tracks>`/cue sheets.
- The browser may not know what languages are conveyed by text tracks inside the media resource until playback begins.
- We don't know what language the user will choose for captions, and can change it during playback.

Given the uncertainty I'm not sure the

[2017-05-09 19:05] avayvod commented on #81
As a follow up on the PR #83, we might want to spec the uniqueness of the id (e.g. within a frame) so that web authors could rely on the behavior suggested by the example.

[2017-05-09 20:26] avayvod commented on #70
I don't think Cast devices support such filtering mechanism, for example.

In Presentation API case, the page can send a message to the receiver to figure out what language is needed. Perhaps, Remote Playback API could have a way to express a language preference, like pass the locale info as a parameter to the watchAvailability() call, but I'd err on the side of let's add it when there's demand.

[2017-05-09 20:35] avayvod commented on #41
IIRC, there were concerns about MUST for basic operations like seeking during the meeting as some remote playback devices might not be able to implement seeking and HTMLMediaElement doesn't really mandate it.

Could we avoid listing every feature of the media element by following the Presentation API example w/r/t the Web APIs available on the receiver in this note:

?

[2017-05-09 20:36] avayvod commented on #70
On the other hand, ```TextTrack``` has ```srclang``` property that could be used as a hint to the UA.

[2017-05-09 22:09] markafoltz opened #84 "Notify callbacks when monitoring list of remote playback devices is stopped"
From https://github.com/w3c/remote-playback/pull/83#discussion_r115578646

@avayvod proposes to fire availability callbacks with `false` before clearing the global set of callbacks, so that pages do not continue to believe that there are available playback devices.

[2017-05-09 22:40] avayvod commented on #84
Hm, I don't propose clearing the set though - it might also break sites when they try to cancelWatchAvailability with the callback ids they saved and it suddenly throws an exception.

@beaufortfrancois FYI

[2017-05-10 16:02] markafoltz commented on #84
So "stopping" is more like "pausing" is what you are saying.  Presumably there would also be steps to "resume?"

[2017-05-10 16:11] markafoltz opened #85 "Clarify cross-element uniqueness requirements of callbackId"
From https://github.com/w3c/remote-playback/pull/83#discussion_r115387224

CC @mounirlamouri @jernoble

[2017-05-10 16:20] avayvod commented on #84
So, I think two cases - one when the page adds disableRemotePlayback attribute to a media element. The page then can expect the callbacks not being fired and the availability be ignored. One may argue that the callbacks could be set by a media player library and the attribute set by the hosting page, but the attribute mutation can be observed via MutationObserver and so on. I don't think the spec

[2017-05-10 17:01] markafoltz commented on #84
Fair enough.  User agent level controls generally aren't described with specific algorithms in specs as far as I've seen.

So the conclusions you propose are that

1. "disabling remote playback" via user agent controls is not related to the disableRemotePlayback attribute or its implementation.

2. A note should be added suggesting user agents manage callbacks as you suggest when the user disables

[2017-05-10 17:02] avayvod commented on #84
Yes. That's a good summary!

[2017-05-10 17:26] avayvod commented on #73
Do privacy reviews end up being summarized on GitHub like TAG or i18n? I'd like to respond to the comments we've got on public-privacy@w3c.org but not sure if this is the right way or we should wait until all the comments are summarized.

[2017-05-10 18:09] anssiko commented on #73
@avayvod, the privacy folks use the mailing list, and not (yet) GitHub. Please respond on that list. This constitutes all of the privacy review feedback: https://lists.w3.org/Archives/Public/public-privacy/2017JanMar/0009.html

[2017-05-12 04:05] avayvod commented on #73
Thanks @anssiko, I've sent a response [here](https://lists.w3.org/Archives/Public/public-privacy/2017AprJun/0025.html)!

[2017-05-15 18:43] markafoltz commented on #41
I'm not sure that's relevant; that note is referring to Web APIs on the presentation receiver, not the controller.  In my understanding of the Remote Playback API the controller is responsible for sending (or not sending) commands to the remote playback device.  Of course it's possible that the device is implemented using HTML but it's not a requirement.

[2017-05-15 18:50] avayvod commented on #46
@mfoltzgoogle I think we're not discussing freezing the element's layout, but the ```videoWidth``` and ```videoHeight``` properties. That way if the page doesn't do anything to resize the remotely played element, it won't break because the UA suddenly changed the size of the video to say full HD.
The page can still detect if remote playback is happening and resize the element any way it wants.

Th

[2017-05-15 20:11] markafoltz commented on #46
I guess while remoting the tradeoff is between:
* Freezing `videoWidth` and `videoHeight` and breaking some content (and the spec) when the intrinsic dimensions of the video don't match
* Not freezing them and breaking some content when these are changed by the UA by remote playback

I feel like the latter is less risky: if the media is offered in multiple resolutions, then the page should expect

[2017-05-15 20:35] avayvod commented on #41
I meant just noting something like below could be sufficient:

"Given the capabilities of the remote playback device, some HTMLMediaElement APIs will not work by design or will be obsolete. In these case they MUST fallback to the same behavior as if the local playback device doesn't support these APIs (e.g. encryption, captions, multiple tracks, and so on)."

To be honest, the remote playback devi

[2017-05-15 22:22] markafoltz commented on #46
A short experiment playing a 1080p video [1]  showed that (`videoWidth`,`videoHeight`) remain at (1920,1080) during AirPlay on a 720p Apple TV.  This was with Safari 10.1.

[1] http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_1080p_h264.mov

[2017-05-16 13:14] steveatkin commented on #70
If you can use the srcLang to indicate the language as a hint that would be ok.

[2017-05-17 06:56] chrisn commented on #46
It would seem useful to allow page authors some control over these choices, rather than leaving it a purely UA decision.

[2017-05-17 17:44] markafoltz commented on #41
I think that is okay, but one concern raised earlier is that there may not be specified behavior for  mandatory features not implemented by the playback device.  As you say this is also an issue for both local and remote playback, so the fix may be to address this in HTML5, but practically speaking I could see the potential for different interpretations.

For example, if muting is not supported, o

[2017-05-17 17:56] avayvod commented on #46
@chrisn I think that's already possible: websites already can hide or cover the media element with any UI they want as long as they know it's in a ```connected``` state.

[2017-05-19 17:36] markafoltz commented on #46
That's true, but if there's inconsistency between user agents it encourages web developers to hide the media element during remote playback to ensure a consistent experience, which could impact e.g. rendering of captions.

[2017-06-12 10:51] anssiko opened #87 "Produce a preliminary implementation report"
To be able to publish a Candidate Recommendation #73, we need a preliminary implementation report similarly to the [Presentation API test results] (see test results column).

@avayvod @mounirlamouri, are you happy with the current coverage of the [Remote Playback API test suite]? (You added idlharness tests that were initially missing, is [TODO] up to date?)

@Honry could perhaps help you produce

[2017-06-12 11:17] anssiko opened #88 "Remote playback device capabilities not always a subset of local playback device's"
https://github.com/w3c/remote-playback/issues/41#issuecomment-301596793:

Should research and document such capabilities to see how to best reflect that in the spec.

[2017-06-12 11:37] anssiko commented on #41
Hearing no further comments, I'd ask the editors @avayvod @mounirlamouri to implement the synthesis of the latest proposals. Feel free to use your editorial freedom to mould the text to fit in the spec, but roughly:

* Add the following informative notes (I replaced normative RFC 2119 terms with their informative equivalents, some editorial):

* Classify the `HTMLMediaElement` properties into two

[2017-06-12 11:45] anssiko commented on #73
Current status: CR blockers are #41, #83, #87.

All have a proposal or a suggested resolution.

In addition to these blockers, we need to define the CR exit criteria and "at risk" features. @tidoust would you like to take a stab at them?

[2017-06-12 23:33] markafoltz commented on #80
On re-reading, this issue will be closed by implementing the changes proposed in Issue #84.

The original suggestion is not correctly formed as discussed here; `disableRemotePlayback` applies to a single media element, not to background monitoring as a whole or any browser level controls that might require it.

I'm closing this, any further discussion of API behavior can continue in #84 or the for

[2017-06-12 23:33] #80 closed, assigned to nobody

[2017-06-13 09:49] mounirlamouri commented on #87
I've sent a PR to update the README. The tests in the repo are the ones avayvod@ and I uploaded from Blink. I wouldn't say I'm happy because a lot of tests require to interact with the remote device and we can't do that from WPT but it's better than nothing.

[2017-06-13 10:05] Honry commented on #87
@avayvod, @mounirlamouri, please tell me if anything I can help. :)

[2017-06-13 10:39] anssiko commented on #87
@mounirlamouri if you'd like @Honry to take a stab at the implementation report, he'd appreciate instructions on how to setup the test environment. @Honry has developed manual tests for other APIs such as [battery-status] in the past.

[battery-status]: https://github.com/w3c/web-platform-tests/tree/master/battery-status

[2017-06-14 14:21] tidoust commented on #73
See proposal in PR #89

[2017-06-14 16:05] mounirlamouri commented on #87
I guess something you can start with is looking at the tests that we have [in Blink](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/media/remoteplayback/) using our internal test infrastructure.

The issue with this API is that you will have to use a Chrome Cast compatible device to test the API on Chrome but another browser might not support Chrome Cast. The test precondition

[2017-06-14 16:52] markafoltz commented on #48
I think the PR captures the conclusions from this issue.  Please reopen if there is something that I missed.

[2017-06-14 16:52] #48 closed, assigned to nobody

[2017-06-15 07:33] Honry commented on #87
@mounirlamouri, I glance over both Chromium Layout tests and wpt tests, almost all the tests are about exceptions and I can easily generate the test report. If you need please tell me which platforms should be covered.

This is the issue [Presentation API](https://github.com/w3c/web-platform-tests/tree/master/presentation-api) had ever encountered, but now they have much more sufficient test suite

[2017-06-19 13:07] anssiko commented on #73
Current status: CR blockers are #41, #87.

(Fixed since last week: #83, #89)

[2017-06-20 11:44] mounirlamouri commented on #87
At the moment, only Chrome Android supports the Remote Playback API so I guess you should only do a report on this platform?

Following a pattern similar to Presentation API would make sense. I wonder how much we can use this as an inspiration as the Remote Playback API is fairly simpler.

[2017-06-20 18:46] markafoltz commented on #81
Closing as I believe this is addressed by the PR.

[2017-06-20 18:46] #81 closed, assigned to nobody

[2017-06-20 18:46] markafoltz commented on #82
Closing as I believe this is addressed by the PR.

[2017-06-20 18:46] #82 closed, assigned to nobody

[2017-06-20 18:46] markafoltz commented on #84
Closing as I believe this is addressed by the PR.

[2017-06-20 18:46] #84 closed, assigned to nobody

[2017-06-20 18:46] markafoltz commented on #85
Closing as I believe this is addressed by the PR.

[2017-06-20 18:46] #85 closed, assigned to nobody

[2017-06-21 02:38] avayvod commented on #87
Chrome Desktop also exposes the API but doesn't support any remote playback devices yet.

[2017-06-21 07:17] Honry commented on #87
Actually the test result of current test suite are all pass on both Chrome for Android and Desktop, I just committed the report at https://github.com/w3c/test-results/pull/102. PTAL.

[2017-06-21 07:34] Honry opened #92 "Remote Playback API tests and implementation report"
Import comment(https://github.com/w3c/remote-playback/issues/87#issuecomment-308479127) from @mounirlamouri:

[2017-06-21 07:42] Honry commented on #92
@louaybassbouss, I know you did really good on test automation for Presentation API, the problem we encountered in Remote Playback should be similar, could you please share your experience for us?

[2017-06-21 07:44] Honry commented on #87
@mounirlamouri, let's talk about the issue in this thread: https://github.com/w3c/remote-playback/issues/92

[2017-06-22 07:26] anssiko commented on #41
@avayvod @mounirlamouri @mfoltzgoogle, any concerns with the proposal I outlined above? If none, could you please address this remaining issue so we could get to zarro boogs for CR tracked in #73.

If the proposal is lacking, I'd be happy if you could synthesize an improved proposal for review.

[2017-06-22 08:12] #87 closed, assigned to nobody

[2017-06-22 08:16] anssiko commented on #73
Current status: the remaining CR blocker is #41

@tidoust, could you take a look at the overall CR plan and see whether there are any other issues in your view that we should address prior to advancing to CR? If not, I'd like to issue a CfC to publish a Candidate Recommendation as soon as possible.

[2017-06-29 08:59] anssiko commented on #41
I'm a bit concerned about the lack of feedback here. Are folks already out of office?

[2017-06-29 16:58] mounirlamouri commented on #41
I was traveling for the past few days. Happy to have a look but I think @avayvod has more context than me on this issue as he looked into it in the past.

[2017-07-04 09:37] mounirlamouri commented on #73
@anssiko sorry for coming late with this question but I thought we did not have two compatible implementations yet and that was a soft rule for CR given that we can't for beyond that stage without it. Is your plan to go to CR with one implementation and wait for another in order to go to PR/REC?

[2017-07-04 14:11] tidoust commented on #73
@mounirlamouri I would personally still go to CR even if we only have one implementation in the pipe.

The Director will most likely wonder about implementation plans when we ask to publish the CR, and it would be way better to have concrete plans to share for at least two implementations. However, that is indeed a soft rule. If we have but one implementation for now, then so be it, publication as

[2017-07-13 20:01] markafoltz commented on #41
I consider the PR I uploaded to be the minimum needed to close this issue.

Regarding other aspects:

I'm not sure if I have a good grasp of what "X, Y, and Z" MUST be implemented by all remote playback devices.  That would require understanding better the constraints of current and future implementations, and sounds like specifying a remote playback device itself, which may not be in scope of thi

[2017-07-20 22:40] markafoltz commented on #41
@avayvod Are you satisfied with the current language around remote playback device capabilities, or do you think more is needed at this point?  Basically, we are saying that the browser shouldn't lie about the state of remote playback, but not mandating that the remote playback device implement specific playback features.

[2017-07-24 10:07] tidoust commented on #41
The note is good. I still think that the spec could be clearer about what happens or does not happen during transition.

In particular, what happens to the `videoTracks`, `audioTracks` and `textTracks` properties? Do the lists disappear? If so, do `change` and `removetrack` events get fired? Can the local user agent continue to manage text tracks locally during remoting and fire cues accordingly?

[2017-07-24 23:14] markafoltz commented on #41
I suppose all of these are possible; is this question in reference to a specific remote playback implementation?

I believe this is implied by the note - since playback continues on the remote playback device, there is no Web-visible transition to paused.  I can add a sentence to the existing note to make this explicit.

I'm not sure about removing tracks if the remote playback device does not sup

[2017-07-25 06:47] tidoust commented on #41
No. I'm wondering what needs to be made explicit in the spec to guarantee interoperability between implementations.

Taking a concrete example, let's say that my app plays a video, has a pointer to a `TextTrack` instance for a text track within that video stream, and follows `cuechange` events on that instance to render something on screen. That app might break if these events are no longer trigge

[2017-08-08 00:28] markafoltz commented on #41
I agree there are potential issues with track compatibility, but I don't think we yet have enough information to resolve them concretely.  It depends on developer feedback and implementation experience.  I can provide some insight into the latter based on what Chrome has shipped, but not sure when I can get to it.

If the concern is interoperability, then there's a fairly small set of implementati

[2017-08-09 10:27] anssiko commented on #41
I'm pretty happy with the added note, thanks @mfoltzgoogle! I amended it a bit in #97.

@tidoust, do you think it'd be appropriate to advance to CR with the current text if we'd clarify the current status in https://w3c.github.io/remote-playback/#status-of-this-document as follows (feel free to amend):

[2017-08-09 10:30] anssiko commented on #73
@mounirlamouri, given the more agile CR publishing process, I'd prefer to go to CR early and publish an updated CR as needed, similarly to what we did with the Presentation API. I think we're about to reach consensus on the remaining blocker #41, please chime in there.

[2017-08-15 07:58] anssiko commented on #73
#95 seems to address #41 for the purposes of the CR publication.

The process doc tells us CR may identify features in the document as "at risk". These features may be removed before advancement to Proposed Recommendation without a requirement to publish a new Candidate Recommendation.

Are we fine with the following boilerplate?

Given the information we have re #41, that seems like the most accu

[2017-08-16 09:00] tidoust commented on #41
I believe that's fine, @anssiko. The text sets expectations quite nicely, that's good!

[2017-08-16 10:36] anssiko commented on #73
Call for Consensus (CfC) to request publication of a Candidate Recommendation (CR) of the Remote Playback API:
https://lists.w3.org/Archives/Public/public-secondscreen/2017Aug/0033.html

[2017-08-24 07:23] anssiko commented on #70
@steveatkin @mounirlamouri, see #99 for a suggested informative text to be added to the spec to address this issue.

[2017-08-24 07:25] anssiko commented on #66
@tidoust, could you craft a PR per your suggestion? Note that I just submitted a PR #99 that addresses @tomoyukilabs's  comment as well as fixes the another i18n comment #70.

[2017-08-25 02:44] tidoust opened #101 "Adjust notes with normative content"
Notes in specs are by nature informative and as such should not contain normative statements. Notes in the current draft of the Remote Playback API that contain normative statements should either be adjusted to remain informative, or the content should be turned into real normative statements, to remove all ambiguity on the informative/normative nature of the text.

Notes that need some update:

-

[2017-08-25 03:00] tidoust commented on #73
Current status:

- i18n issues #66 and #70 need to be addressed before transition to CR may happen. Done when PRs #99 and #100 are merged.
- We'll then need to get back to the i18n group and ask for final "green light", meaning closure of https://github.com/w3c/i18n-activity/issues/274
- I also noted in #101 a few notes with normative text which I think we should fix as well before transitioning.

[2017-08-25 06:17] #70 closed, assigned to nobody

[2017-08-28 17:59] anssiko commented on #66
Fixed with #100

[2017-08-28 17:59] #66 closed, assigned to nobody

[2017-08-28 18:00] anssiko commented on #101
Fixed with #102

[2017-08-28 18:00] #101 closed, assigned to nobody

[2017-08-28 18:02] anssiko commented on #73
All the last-minute CR blockers have been addressed and the i18n group has been informed. Thanks for your swift contributions.

@tidoust, please advance with the plan to request publication of a CR.

[2017-09-06 13:03] anssiko opened #103 "Use [Exposed=Window]"
Use WebIDL `[Exposed=Window]` for the `RemotePlayback` interface to align with the recent WebIDL change in https://github.com/heycam/webidl/issues/365

[2017-09-06 14:06] #103 closed, assigned to nobody

[2017-09-12 13:27] tidoust opened #105 "Add explicit text to define the disableRemotePlayback content attribute"
The Remote Playback API adds a new `disableRemotePlayback` content attribute on media elements but that content attribute is not explicitly defined. We should add text to note that extension.

The [definition in the Subresource Integrity](http://www.w3.org/TR/SRI/#verification-of-html-document-subresources) specification could be a good example to take inspiration from.

[2017-09-12 13:32] tidoust commented on #73
Before the specification can transition to a Candidate Recommendation, the definition of the `disableRemotePlayback` content attribute should be made explicit (#105), and the Second Screen WG should request a review from the Web Platform Working Group (see [member-only discussion thread](https://lists.w3.org/Archives/Member/chairs/2017JulSep/0140.html)).

[2017-09-19 10:59] anssiko commented on #73
#106 is the proposed fix to #105.

After landing, @tidoust to initiate request to review from the Web Platform WG.

[2017-09-19 16:50] #105 closed, assigned to nobody

[2017-09-19 18:50] anssiko commented on #73
@tidoust, we should be now ready for the WP WG review.

[2017-09-19 19:43] tidoust commented on #73
I [asked the Web Platform WG for review](https://lists.w3.org/Archives/Public/public-webapps/2017JulSep/0051.html), with a deadline for comments set to 10 October.

[2017-09-25 17:31] jyasskin opened #107 "Restrict the API to Secure Contexts or discuss the decision in Security Considerations"
The web platform restricts most new features, and especially ones that involve asking the user a question, to [Secure Contexts](https://w3c.github.io/webappsec-secure-contexts/#integration-idl). It looks like Remote Playback [does](https://w3c.github.io/remote-playback/#user-interface-guidelines) intend to show the user an origin, which means it ought to only be available when that origin is known

[2017-09-27 05:57] mounirlamouri commented on #107
I will happily update the security considerations later. I believe that we shouldn't limit this to secure origins as one of the goal is to expose UA features available in native controls and they are not limited to secure origins.

[2017-10-11 10:00] anssiko commented on #73
The [Web Platform WG review period][1] has ended.

Issue https://github.com/w3c/remote-playback/issues/107 was opened during the review period which may or may not be in response to the review request. Nevertheless, the author of the issue @jyasskin approved the spec editor @mounirlamouri's suggestion. My assessment is the issue raised will not block the CR publication, thus I'd ask @tidoust to ad

[2017-10-12 08:55] tidoust opened #109 "Rephrase normative statement in security and privacy consideration section"
The section is non-normative, so should not contain any normative statement. There is one remaining in [section 7.1](https://w3c.github.io/remote-playback/#personally-identifiable-information)

s/The user agent SHOULD NOT monitor the list of available remote playback devices/The user agent should not monitor the list of available remote playback devices/

[2017-10-12 16:51] markafoltz commented on #109
Fixed by https://github.com/w3c/remote-playback/commit/df201f5c7df26f2cddb8927724bf5d2665fed4af.

[2017-10-12 16:51] #109 closed, assigned to nobody

[2017-10-13 07:10] Honry commented on #92
@louaybassbouss, friendly ping.

[2017-10-13 07:54] louaybassbouss commented on #92
@Honry sorry I missed your request from 21 Jun thanks for the reminder. Yes the setup for testing the Presentation API and RemotePlayback API Tests on Chromecast should be similar. I would say that the tests of RemotePlayback API are easier to implement since you will not deal with different Presentation URLs as in the Presentation API (You can have a look in [[1][1]] where two different Presentat

[2017-10-13 08:27] Honry commented on #92
@louaybassbouss, really appreciate for your exhaustive sharing, I agree with you that tests should be strictly compliance with API specification without any dependence. I will dig into tests of Presentation API as a reference to write tests for Remote Playback API.

[2017-10-13 11:49] anssiko commented on #73
An update on the logistics of the CR publication:

I pushed a `cr` branch that needs to be rebased with `gh-pages` when PRs #108 and #110 are approved and merged. The [spec-generator snapshot][1] is used for publication, it passes [Pubrules][2] and  also [Link Checker][3] when the above-mentioned changes are baked into the `cr` branch. Earliest publication opportunity is 19 October 2017.

I believ

[2017-10-15 23:37] #107 closed, assigned to mounirlamouri

[2017-10-16 09:54] anssiko commented on #73
PRs #108 and #110 have been merged into `gh-pages` and the `cr` branch rebased with `gh-pages` to pull in these changes.

@tidoust, can you please check that we're good to publish 19 October 2017?

The [spec-generator snapshot][1] passes [Pubrules][2] and [Link Checker][3]. You may want to address the Patent Policy warning by manually patching the snapshot, since the ReSpec patch https://github.co

[2017-10-19 11:53] tidoust commented on #73
The [Candidate Recommendation](https://www.w3.org/TR/2017/CR-remote-playback-20171019/) of the Remote Playback API has been published today (19 October 2017). Closing this as a result.

Well done, Second Screen WG!

[2017-10-19 11:53] #73 closed, assigned to nobody

[2017-10-24 11:44] anssiko commented on #92
@Honry, we're likely to discuss this topic at our TPAC F2F on Monday 6 November, so any input, testing-related issues, even if preliminary, prior to that would be appreciated.

[2017-10-24 12:01] anssiko commented on #88
There are two classes of interoperability issues discussed in #41:

* a feature X is not working locally, but can work remotely
* a feature X is not working remotely, but can work locally

This issue is about the former. The issue #41 is (mainly) about the latter.

The text we put in place for the purposes of the CR publication in the [Status of This Document][1] captures the broader interoperabil

[2017-10-24 13:09] anssiko commented on #46
Adding to that point:

Web developers have been hiding the `<input type=file>` UI for ages and reimplemented it themselves for the same reason, see e.g. [the IE5-era technique][1], [a more modern technique][2], [another example][3]. IIRC restrictions to styling the said element were put in place for security reasons to mitigate attack where the user is tricked into opening the file chooser.

Perha

[2017-10-25 02:30] Honry commented on #92
Can we talk about the possibility to implement Testing API(quite similar to https://github.com/w3c/presentation-api/issues/440) to break through test automation?

[2017-10-25 03:01] Honry commented on #92
Considering the Remote Playback API is much more simple then Presentation API, that is the amount of manual tests is much less.  But implement a Testing API would bring much more efforts.

[2017-10-25 08:02] louaybassbouss commented on #92
@Honry please let me know if can help on this

[2017-10-28 04:19] markafoltz commented on #92
If the test API is strictly about testing the `RemotePlayback` interface, it could be very simple:

`<video>.remote.test.deviceAvailable = true` to simulate a remote playback device being available for that element, and `false` to simulate a device not being available.

If we want to test behavior of the media element itself in remote playback scenarios, that could mean creating a fake remote play

[2017-11-02 06:22] Honry commented on #92
I think this should be enough.  @louaybassbouss, what's your opinion?

[2017-11-02 08:20] louaybassbouss commented on #92
@Honry `<video>.remote.test.deviceAvailable = true` is enough for [Observing remote playback device availability][1] but I am not sure how to test the [RemotePlayback Connection State][2]. We may need a 'FakePlaybackScreen' similar to this [proposal][3] from @mfoltzgoogle. The 'FakePlaybackScreen' can have some additional attributes like `playing`, `paused`, etc. to test the transition between the

[2017-11-02 08:42] Honry commented on #92
@louaybassbouss, I was thinking using `<video>.remote.test.deviceAvailable = true/false` to monitor state change should be enough. But yes, I agree with you that we should also test the video state must be align with the remote playback.

[2017-11-02 20:11] markafoltz commented on #92
We do need to be able to test a failure to connect to a remote playback device (step 4 of "Establishing a Connection.")

As far as testing the behavior of the media element, the mandatory requirements in the spec are:

- The user agent MUST send media commands to the remote playback device - but how would this be observable from a test?
- The media element MUST reflect changes to the remote playba

[2017-11-06 12:22] mounirlamouri commented on #92
Blink is using a method to force update the device availability. Because we run this only in our tests which do not have a Remote Playback backend, I think the WPT method should be different as there will be an idea of forcing the value on top of the backend. Because of this, I would recommend the method to take `true`, `false` and `null` in order to unset the override. A method might make things

[2017-11-06 17:53] mounirlamouri commented on #88
Closing issue per TPAC F2F resolution.

[2017-11-06 17:53] #88 closed, assigned to nobody

[2017-11-06 17:57] mounirlamouri commented on #46
TPAC F2F resolution: add note to spec with regards to UI recommendations.

[2017-11-08 02:12] markafoltz commented on #41
From https://www.w3.org/2017/11/06-webscreens-minutes.html#x03:

ACTION: @mfoltzgoogle to add normative language to the spec around local playback state to address issue #41

[2017-12-05 14:49] anssiko commented on #41
This issue was noted in the Candidate Recommendation as the only remaining substantial open issue. Now this issue has been addressed by https://github.com/w3c/remote-playback/commit/e1da4869689f1a61e29754850cd266f49ccd070e. Thanks @mfoltzgoogle for your contribution.

As noted in the spec, we are seeking further developer feedback and implementation experience to identify any interoperability issu

[2017-12-05 14:49] #41 closed, assigned to markafoltz

[2018-01-11 17:12] markafoltz commented on #46
I believe the PR covers the consensus on this issue in the most recent comments.

Addressing`videoWidth` and `videoHeight` properties can be done with implementation experience / developer feedback on how media element state is handled (per the resolution to Issue #41).

[2018-01-11 17:12] #46 closed, assigned to mounirlamouri

[2018-01-23 01:11] markafoltz opened #114 "Compatibility of Remote Playback API with AirPlay mirroring"
This is following up on on a conversation with @jernoble at TPAC.  Please correct any mistaken assumptions below :-)

Apple iOS devices allow AirPlay mirroring to be enabled at the system level, and this automatically triggers remote playback of `<video>` elements in Safari to Apple TV.  In this mode, when the user plays a `<video>` then triggers fullscreen on the `<video>`, remote playback is tri

[2018-02-14 23:49] markafoltz commented on #114
A related case is when the device is already mirroring content from the page to a remote playback device, and the user calls `prompt()`.  In that scenario, the fact that the user is mirroring page content could serve as permission to use the remote playback device.

[2018-03-04 14:16] Mathieu-R opened #116 "[Chrome 64] The RemotePlayback API is disabled on this platform"
Hello,

When I try to use the _Remote Playback API_ on **Chrome 64**, I get this error message as I call `myAudioElement.remote.prompt()` :

[code]

I did not find any information so have you more information about that ?
I'm still able to cast for example on google play music so I'm a little bit confused.

Thanks for your help.

[2018-03-05 09:37] mounirlamouri commented on #116
Which platform are you testing this on? The Remote Playback API is only expected to work on Chrome for Android. Desktop platforms only support the Presentation API at the moment.

[2018-03-05 11:16] Mathieu-R commented on #116
Oh well, I tried on Chrome Desktop, so I could chromecast a music with the presentation api ?

[2018-03-05 18:02] markafoltz commented on #116
@mounirlamouri Is that really the right behavior for Chrome desktop - it seems like it should throw NotSupportedError instead?

@Mathieu-R Yes, you can use the Presentation API on desktop Chrome to present any URL on Chromecast.  Here are some sample apps that may help you:

- https://googlechrome.github.io/samples/presentation-api/
- https://github.com/GoogleChromeLabs/presentation-api-samples/tr

[2018-03-07 13:46] mounirlamouri commented on #116
@mfoltzgoogle it does fire a `NotSupportedError`. The message @Mathieu-R quoted is the error message which is different from the error type.

I'm going to close this as it's more an implementation feedback than a spec feedback.

[2018-03-07 13:46] #116 closed, assigned to nobody

[2018-05-17 08:44] Mathieu-R opened #117 "Chromecast TV not detected"
Hello,

I was trying to use this api on `Chrome M66` to send audio content on a remote device but it does not detect my `Chromecast tv`.
Other API such as Presentation API detect it.

I was wondering it there's a bug or something else.
Maybe an error in my code.

Btw, if I force with `audioElement.remote.prompt()`, it throws me an error that says: `A prompt is already shown` but that's not the cas

[2018-05-17 10:55] mounirlamouri commented on #117
Thank you for the feedback @Mathieu-R. In general, it's better to use Chromium's bug tracker if you see a bug in Chromium. In your case, it looks a lot like your issue may be related to https://crbug.com/837299 If it's not the case, can you file a new bug using https://crbug.com/new?

[2018-05-17 10:55] #117 closed, assigned to nobody

[2018-05-17 11:45] Mathieu-R commented on #117
Thanks. It does not seem to be related to the existing issus. I filed a new bug.

[2018-05-18 18:46] Mathieu-R commented on #117
@mounirlamouri
Well, I was able to make this demo (https://beaufortfrancois.github.io/sandbox/media/remote-playback.html) work on Chrome stable (and canary) for Android.
I also did my own demo and this works.

The problem in my case is that I use Google shaka-player to stream media. It seems that Remote Playback API does not work with buffer in the src attribute.

[2018-05-19 09:11] mounirlamouri commented on #117
At the moment, the Remote Playback API on Chrome Android does not handle MSE videos. It sounds that this may be the issue you are facing here. Can you put the link to the Chromium bug in this issue so we can continue the discussion over there?

[2018-05-19 09:20] Mathieu-R commented on #117
https://bugs.chromium.org/p/chromium/issues/detail?id=843965

[2018-05-29 19:52] markafoltz commented on #114
I'm going ahead and closing this issue based on landing e6a2c27.  If there's further refinement needed about these scenarios involving screen mirroring, we can reopen or start a new issue.

[2018-05-29 19:52] #114 closed, assigned to markafoltz

[2018-05-29 20:04] markafoltz opened #118 "Define remote playback interaction with background playback policies"
From https://www.w3.org/2018/05/17-webscreens-minutes.html#x03:

If a media element is in a background or minimized tab, the user agent may stop rendering media, not allow the media element to autoplay, or render the media muted, depending on user agent policies.

This issue tracks updating the spec to describe what happens when:
- A playing, remoted media element is put into the background and th

[2018-05-29 20:04] markafoltz commented on #118
CC @mounirlamouri

[2018-05-29 20:45] markafoltz opened #119 "Explore polyfilling Remote Playback API on top of Presentation API"
From https://www.w3.org/2018/05/17-webscreens-minutes.html#x03:

Chrome is [moving its current implementation](https://bugs.chromium.org/p/chromium/issues/detail?id=517102) of the Remote Playback API to be based on its implementation of the Presentation API.  This suggests that it may be possible to polyfill the Remote Playback API on top of the Presentation API.

There would be a number of issues

[2018-05-30 08:50] chrisn opened #120 "Support for TTML and IMSC captions"
At present, it is not possible to render TTML and IMSC captions with video being presented remotely using the Remote Playback API. Captions are tyically rendered using script with HTML content overlaid over the video. Without native rendering support, we could use the Presentation API to do this, but this introduces the complication of having to communicate the control and state information of the

[2019-05-24 09:12] anssiko commented on #5
We revisited this issue at F2F, so I'll reopen so we remember to update the spec with the latest considerations from the Open Screen Protocol.

Related F2F discussion: https://www.w3.org/2019/05/24-webscreens-minutes.html#x08

@mfoltzgoogle

[2019-07-01 21:02] joeyparrish opened #124 "How does remote playback interact with EME?"
This came out of discussion started in https://github.com/w3ctag/design-reviews/issues/323#issuecomment-441166866:

I don't see any mention of MediaKeys in the spec, and I don't understand the resolution from #41 or #55.  Can you give an example of how EME would work with remote playback?  Or is it simply not supported / supportable?

Thanks!

[2019-07-09 14:38] mounirlamouri commented on #124
IMO Remote Playback shouldn't work with EME because there are two ways to do Remote Playback:
 - Send the file URL to the remote device for it to play. In this case, if the file is protected, the other device wouldn't be able to play it.
 - Stream the media to the other device. In this case, it seems not the best idea to stream the decoded bytes in clear.

@mfoltzgoogle may have other thoughts esp

[2019-07-09 17:26] markafoltz commented on #124
As far as the Remote Playback API spec is concerned, it looks like it's up to the user agent to implement remote playback or not for encrypted media.  It's possible to implement, though.  Either the remote display needs to obtain a license to decode the media locally (which generally requires messaging through e.g. the Presentation API), or the media transport needs to comply with a standard like

[2019-07-17 23:32] jernoble opened #125 "RemotePlaybackState enum can become misleading when changing media.src"
The steps for `prompt()` allow the promise returned to be rejected with `NotSupportedErr` if the media element cannot support remote playback. This allows, e.g., UAs which support MSE to indicate that a media element backed by a MediaSource cannot be played back remotely, and further allows sites to switch to file-based playback. But a page that changes the media's src/srcObject from a file-based

[2019-07-17 23:38] jernoble commented on #125
This came up in the context of a recent bug report where YouTube.com is playing a video playlist in Safari while playing back wirelessly to an AppleTV, so this is a real world problem affecting a well-visited media site.

[2019-08-14 22:22] markafoltz commented on #125
CC @mounirlamouri for his thoughts.

This proposal seems reasonable to me.

Thinking through how resumption would work: if the video gets an `unsupported` event and switches back to a supported (file-based) URL, it could call `prompt()` again and the browser could handle that as a special case and resume playback on the same device (if it's still available).

We could add some additional `resume()

[2019-08-16 18:09] mounirlamouri commented on #125
Instead of adding a new state, could we add information to the disconnect event that explains why the disconnection happened?

[2019-08-20 22:11] jernoble commented on #125
@mounir said "Instead of adding a new state, could we add information to the disconnect event that explains why the disconnection happened?"

I'm not sure how that simplifies things. `"disconnected"` doesn't appear to imply that the element will attempt to reconnect when the `src` changes.  Also, in the "Browser initiated remote playback" case, you'd either get a `"disconnected"` event without a m

[2019-08-21 00:27] mounirlamouri commented on #125
My concern is that by introducing a new state, it makes things more confusing. I see the `RemotePlaybackState` as a connection state and `unsupported` isn't much of a connection state. Can you go from `unsupported` to `disconnected`? or to `connecting`? Maybe there is a very simple graph that could show how to go from each of these states but after a quick look, it doesn't seem "simple".

Is it wh

[2019-08-21 17:53] jernoble commented on #125
To answer your question with another question, can you go from `disconnected` to `disconnected`?  I don't think that makes sense, but that's what would happen if you used the default media controls to try to initiate remote playback, or if the system/UA tried to initiate Remote Playback. You'd either get a `disconnected` event without a matching `connecting` one, or you'd get nothing at all, which

[2019-08-23 18:37] mounirlamouri commented on #125
I guess there is one key implementation point: I would assume that when receiving data that isn't compatible, the UA would disconnect from the remote screen and wouldn't attempt to auto-reconnect but instead leave it to the website to decide. You seem to suggest that the UA should keep a connection alive and attempt reconnecting as soon as possible. Is that correct?

[2019-08-27 21:42] jernoble commented on #125
This is currently the platform behavior of AirPlay on iOS yes. I'm not saying that the spec should _require_ this behavior, but the spec should _allow_ this behavior to occur.

That said, the only specced mechanism for a website to trigger remote playback is the `prompt()` function. It doesn't seem like reasonable behavior to present a "remote device picker" to the user,  change the element's sour

[2019-09-12 07:08] cynthia commented on #124
(NOTE: Not an advocate of DRM. Feedback is from an end user experience perspective.)

Having this supported in a future iteration of the spec would be definitely useful. From a user's perspective, some videos being possible to cast to a remote display and some being impossible (internally due to DRM) is not something that would be expected.

From an end user perspective, requesting a Netflix video

[2019-10-10 13:57] tidoust commented on #125
This was discussed during the [Second Screen WG F2F in Fukuoka](https://www.w3.org/2019/09/16-webscreens-minutes.html#x08).

Main options raised during that meeting:
1. Add something like a `connected-but-unavailable` state. To get from this state to `connected`, application needs to change `src`.
2. Use `disconnected` state and provide a reason. To get back to connected, there should be a reconne

[2019-11-08 02:37] rniwa opened #128 "Specify the task source for each task to be enqueued"
The [current specification](https://w3c.github.io/remote-playback/) doesn't seem to specify which task source is used to queue a task. Specify that.

Presumably it's [media element event task source](https://html.spec.whatwg.org/multipage/media.html#media-element-event-task-source).

[2019-11-08 09:47] anssiko commented on #128
Thanks @rniwa, fix: https://github.com/w3c/remote-playback/pull/129

[2019-11-14 08:05] #128 closed, assigned to nobody

[2019-12-20 09:07] anssiko opened #130 "[meta] Publish Proposed Recommendation"
This meta issue tracks progress toward the [Remote Playback API][1] [Proposed Recommendation][2] (PR) publication. Editor: @mounirlamouri

You see many tickboxes below, but fear not. Almost all of them are administrative in nature and we'll bite that bullet for you with @tidoust. In fact, only the following needs explicit input from the group:

**TL;DR: before advancing to PR the group needs to id

[2020-01-14 01:20] mounirlamouri commented on #125
@jernoble I see that you have the API enabled in a Tech Preview but a look at the WebKit code shows that you haven't added a new event/state. Did you go with one of the solutions above or is this still something to be decided?

[2020-01-14 01:22] mounirlamouri commented on #120
With the work being done around a generic caption API presented at TPAC and FOMS, we should have a solution for this problem at some point. I do not expect the Remote Playback API to have a custom solution for non-native captions as it's meant to be a quick and simple API.

Please feel free to re-open or leave a comment if that sounds unreasonable.

[2020-01-14 01:22] #120 closed, assigned to nobody

[2020-01-14 01:22] jernoble commented on #125
Still to be decided.

[2020-01-14 01:26] mounirlamouri commented on #92
@Honry what's the status of the tests for Remote Playback API? It's my understanding that we are only testing non-user gesture and non-device specific parts of the API which isn't a very large amount. Are there plans to have a WPT API to mock a device?

[2020-01-14 01:28] mounirlamouri commented on #119
Given that issue had no activity in 18 months and it doesn't have a direct relation with the specification, I will close it to have a better visibility of the current issues against the API.

Please feel free to comment/re-open if that sounds unreasonable.

[2020-01-14 01:28] #119 closed, assigned to nobody

[2020-01-14 01:36] mounirlamouri commented on #124
I fully agree that ideally Remote Playback should work with EME and as @mfoltzgoogle pointed out, there isn't anything in the spec that mentions EME. A user agent may simply implement Remote Playback for EME if they can figure it out.

In practice, it would be really hard to do, as @mfoltzgoogle mentioned, and the right solution would be to use more advanced features like the Presentation API whic

[2020-01-14 01:36] #124 closed, assigned to nobody

[2020-01-14 01:40] mounirlamouri commented on #118
I don't think any of these optimisations are mentioned in specs. In practice, user agents will not pause a page that's playing audible media but it's possible that remoting a media that is inaudible would have weird side effects.

I think this could be resolved with a note at the moment given that it may be based on non-specified concepts. WDYT?

[2020-01-14 01:44] mounirlamouri commented on #74
I don't think the issue can be realistically acted upon apart from getting the Open Screen Protocol supported widely and have device makers and user agent use it. This way, if UA_1 supports OSP, it will be able to connect to all devices implementing the spec and if UA_2 also supports OSP, switching from an UA to another would not affect the user's ability to connect to their devices.

Given that O

[2020-01-14 01:44] #74 closed, assigned to nobody

[2020-01-14 01:46] mounirlamouri commented on #5
@mfoltzgoogle @anssiko is there anything else to do here? I'm not sure why this was re-opened.

[2020-01-14 03:36] Honry commented on #92
Oops, I missed this issue. @mounirlamouri, thank you for pinging.

Defining a WebDriver extension API is a more standardized way and which has already been adopted in [Generic Sensor](https://w3c.github.io/sensors/#automation), [Permissions API](https://w3c.github.io/permissions/#automation), [Reporting API](https://w3c.github.io/reporting/#automation), etc.. Moreover, Presentation API also advoca

[2020-01-14 07:58] anssiko commented on #92
We can publish a revised CR with WebDriver extension API similarly to Generic Sensor API.

@tidoust for comments.

[2020-01-14 08:05] anssiko commented on #5
Based on F2F minutes https://www.w3.org/2019/05/24-webscreens-minutes.html#x08 it seems this is a v2 issue and would not block v1 API advancement on the Rec Track?

I defer to @mfoltzgoogle to confirm.

[2020-01-14 09:05] tidoust commented on #92
I confirm that the group can publish a revised CR with a WebDriver extension API.
In any case, the implementation report needs to cover more than "non-user gesture and non-device specific parts of the API".

[2020-01-14 20:09] markafoltz commented on #74
We believe the OSP spec has added the features necessary to support interoperable Remote Playback.  See https://w3c.github.io/openscreenprotocol/#remote-playback-protocol for the details.

[2020-01-14 20:12] markafoltz commented on #5
We've made a change to the OSP to make it compatible with this scenario, but it would be a new feature as far as the Remote Playback API is concerned.  I agree with Anssi that this makes sense to defer to v2.

[2020-01-14 20:20] markafoltz commented on #118
Basically, I think it's worth an implementation note in the spec that the user agent should consider the impact of policies like background media/autoplay muted on remote playbacks, and it doesn't require any normative spec change.

[2020-01-14 21:59] markafoltz commented on #5
Sorry didn't intend to close, just defer.

[2020-01-15 10:12] Honry commented on #92
Thanks @tidoust, @anssiko for confirming this.

Since I will be OOO next two weeks for Chinese New Year holiday, I will figure out an initial proposal for review after the holiday.

[2020-01-20 11:28] anssiko commented on #130
Thanks to your contributions, we were able to reduce the number of open issues blocking Proposed Rec publication significantly.

The remaining Proposed Rec blockers and their current status are the following:

- [ ] #92 Remote Playback API test automation
    - [x] Automated tests: https://wpt.fyi/results/remote-playback
    - [x] Manual tests (`*-manual.html`): https://wpt.live/remote-playback/ (

[2020-01-22 02:23] mounirlamouri commented on #125
Having a quick look at the spec again, I would like to propose this simple addition:
When the device is in the `connecting` state (ie. `prompt()` isn't resolved), if the user agent detects that the remote device doesn't support the source of the local playback, it can fire an event named `src-not-supported`. If the source of the media element is changed in the event handler, the user agent may att

[2020-01-22 02:29] jernoble commented on #125
I have a counter-proposal: rather than sending across the current element URL, which may or may not be supported by the remote device, the UA should send over all the `source`s, their various `type`s, `media`s and whatnot, and allow the UA to select the appropriate source for itself. Sites could opt in with a declarative change, no new state would be necessary, no new event, and the adoption path

[2020-01-22 17:57] mounirlamouri commented on #125
To be sure I understand, you are suggesting that the remote device runs the source selection algorithm and be sent all the information it needs instead of having the UA decide what to send? The idea of it sounds fine. I guess the spec could be more vague and just say that the UA and the remote device should pick the right source based on the currently available sources.

@jernoble is my understand

[2020-01-22 19:19] jernoble commented on #125
Yes, that's pretty much correct. And you're right that the spec could be pretty vague on this point, and just refer back to HTML to the source selection algorithm. And yes, this would require sites to use multiple <source> elements rather than just src=, but any solution is going to require adoption to see any benefit, and this sounds less risky and error prone then adding a new state or sub-state

[2020-01-22 20:24] mounirlamouri commented on #125
I'm happy with this approach. I will sync with @mfoltzgoogle and send a pull request this week for review.

[2020-01-24 00:42] #118 closed, assigned to mounirlamouri, markafoltz

[2020-01-31 00:26] takumif opened #132 "Allow adapting the bitrate to network/receiver constraints when using MSE"
This issue tracks allowing sender pages to adapt the media bitrate to network/receiver constraints (e.g. bandwidth, buffer size) when using MSE to ensure a smooth playback.

One solution is to expose the remote buffer state so that the sender page can adjust the media bitrate accordingly. #126 is a strawman PR for implementing this.

Per the  [TPAC discussion](https://www.w3.org/2019/09/16-webscre

[2020-02-14 09:36] Honry commented on #92
@mounirlamouri, @anssiko, @mfoltzgoogle, @louaybassbouss,

Here is a draft WebDriver based API which I am thinking should be satisfied checkpoints you mentioned before, but I may have missed something, PTAL, all comments are very welcome!

https://github.com/Honry/remote-playback-test-automation/blob/master/webdriver-extension-api.md

One open: how many [playback states](https://html.spec.whatwg.o

[2020-02-14 10:19] anssiko commented on #92
Thanks @Honry! (And no problem for the delay.)

@mfoltzgoogle @mounirlamouri can either of you help review the proposed WebDriver Extension API and give advise on the playback states question?

[2020-03-03 06:51] Honry commented on #92
@mfoltzgoogle, @mounirlamouri, friendly ping. 😃

[2020-04-20 23:23] mounirlamouri commented on #92
Thank you @Honry for the proposal. At a first glance it looks fine but I think we will have to implement and use that in Chrome to give more useful feedback. Do you intend to implement the test api in a browser?

[2020-04-21 07:54] Honry commented on #92
Agree, but I'm not an expert in feature implementation, maybe @anssiko could help looking for someone interested in this. :)

BTW, @mounirlamouri, could you give advise on following open? I am thinking of picking several typical playback states should be sufficient.

[2020-04-21 14:39] anssiko commented on #92
I think @foolip knows folks who touch Web Driver bits in Chromium. I don’t think we have someone readily available for this work at the moment. I suggest open a crbug and link it here.

[2020-05-06 14:48] hober opened #137 "Export terms"
I tried to autolink [the RemotePlayback interface](https://www.w3.org/TR/remote-playback/#remoteplayback-interface) by typing `{{RemotePlayback}}` in Bikeshed, but this interface is not exported from this spec.

Please consider exporting it, and the other bits of exposed API surface in the spec.

[2020-05-06 15:34] tidoust commented on #137
I believe that the problem is not with the spec itself: all IDL terms are now exported by default by ReSpec (the [`RemotePlayback` definition](https://w3c.github.io/remote-playback/#dom-remoteplayback) in the Editor's Draft does have a `data-export` attribute in particular), but the TR version was published too long ago to have the appropriate attributes.

Bikeshed does not have definitions from t

[2020-05-14 23:28] tabatkins commented on #137
Ah yeah, those definitions are real wrong. The source *does* contain some `data-dfn-type` attributes, but they're wrong - `RemotePlayback`, for example, is marked as "dfn" type, which means you wouldn't be able to link it with `{{RemotePlayback}}` or have your IDL automatically link to it. (See line 1620.)

And the ED doesn't appear to have dfn attributes in the source at all.

When the spec looks

[2020-05-18 10:04] foolip commented on #92
If you'd like to implement https://github.com/Honry/remote-playback-test-automation/blob/master/webdriver-extension-api.md in ChromeDriver, then @johnchen0 should be able to review.

For help testing things in WPT more generally, I would ping @stephenmcgruer @LukeZielinski @Hexcles.

[2020-09-07 19:20] quile90958 opened #139 "A"

[2020-09-07 20:07] #139 closed, assigned to nobody

[2020-10-07 21:09] markafoltz commented on #125
From an Open Screen point of view, this sounds fine.  The protocol allows multiple media resources to be sent with the remote playback start request, at which point the Open Screen receiver can use its own source selection logic to decide what to play.   [Here is the relevant section of the protocol spec](https://w3c.github.io/openscreenprotocol/#remote-playback-api) (paragraph starting with "When

[2020-10-26 09:21] anssiko commented on #92
via https://www.w3.org/2020/10/20-webscreens-minutes.html#a01

[2020-11-10 17:16] #125 closed, assigned to mounirlamouri

[2020-11-10 17:37] anssiko commented on #130
With #125 closed, the only remaining Proposed Rec blocker is #92 Remote Playback API test automation.

@Honry is no longer working on this task, so [per TPAC discussion](https://www.w3.org/2020/10/20-webscreens-minutes.html#a01) @louaybassbouss took an action to figure out a way forward.

[2021-02-20 19:32] jimmywarting opened #143 "render a dummy video/progress bar"
Here is a dumb request that probably very few ppl would want/need, but i would like to be able to control media flinging myself somehow when casting with other means other than using remote playback api.

A senario would be that I would like to cast to a remote peer using WebRTC where the remote device can't be found since you are not in same local network or don't support the remote playback spec

[2021-10-25 13:46] louaybassbouss commented on #92
Alternative proposal to move forward with Remote Playback Testing using a manual approach. This proposal is not replacing the WebDriver approach discussed in this thread, but just an alternative to Fake Remote Playback device.

- We use prepared Mezzanine Content to play on Remote Playback Device. The Mezzanine Content shows QR Code on each video frame which contains meta data about the timing/...

[2021-12-16 04:25] ckmilse opened #144 "example"
the feature is interesting.  Could u give me a complete demo.

[2021-12-16 04:30] ckmilse commented on #144
The RemotePlayback API is disabled on this platform.

[2021-12-16 06:08] anssiko commented on #144
Thanks for your interest. This repository is for specification development related discussions.

Web developers may find e.g. the following resources helpful:

https://developer.mozilla.org/en-US/docs/Web/API/Remote_Playback_API

https://caniuse.com/mdn-api_remoteplayback

https://chromestatus.com/feature/5778318691401728

[2021-12-16 06:08] #144 closed, assigned to nobody

[2022-09-16 12:15] FritzHeiden commented on #92
The new remote playback tests are now implemented. You can find the pull request [here](https://github.com/web-platform-tests/wpt/pull/35827)

[2022-09-16 16:35] ghurlbot opened #149 "setup automated publication for Multi-Screen Window Placement API working drafts"
due 23 Sep 2022

[2022-09-16 16:37] ghurlbot opened #150 "work with Mike on initiating horizontal review of the Multi-Screen Window Placement API"
due 23 Sep 2022

[2022-09-16 16:54] inexorabletash commented on #149
This belongs in https://github.com/w3c/window-placement

[2022-09-16 16:55] inexorabletash commented on #150
This belongs in https://github.com/w3c/window-placement

cc: @anssiko

[2022-09-29 21:36] markafoltz commented on #143
Sorry for the late reply.

It sounds like you want to configure a `<video>` element with metadata about audio, video, and text tracks, so the browser will render media controls as if the media was playing locally.  However, you have some other solution for fetching and rendering the media on another device with WebRTC so you want the browser's media controls to act as if playback were happening lo